.btn {
    font-size: 1.3rem;
    line-height: 1.9rem;
    font-family: var(--oswald);
    text-transform: uppercase;
    text-align: center;
    flex-shrink: 0;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
    outline: none;

    &--large {
        font-size: 1.8rem;
        line-height: 1.2;

        @include breakpoint(mobile) {
            font-size: 1.3rem;
            line-height: 1.9rem;
        }
    }
    &:link,
    &:visited {
        color: white;
    }

    &::before,
    &::after {
        content: '';
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        position: absolute;
        transition: transform 0.5s linear;
        background: var(--primary-color);
        backface-visibility: hidden;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &:hover {
        background-color: transparent;
        color: var(--primary-color);
        &::before,
        &::after {
            transform: scaleX(1);
        }

        .btn__inner-content {
            &::before,
            &::after {
                transform: scaleY(1);
            }
        }
    }

    &:focus-visible {
        background-color: transparent;
        color: var(--primary-color);
        &::before,
        &::after {
            transform: scaleX(1);
        }

        .btn__inner-content {
            &::before,
            &::after {
                transform: scaleY(1);
            }
        }
    }
}

.btn__inner-content {
    padding: 1.6rem 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;

    .btn--large & {
        padding: 2.3rem 4rem;
        @include breakpoint(mobile) {
            padding: 1.6rem 3.8rem;
        }
    }
    @include breakpoint(mobile) {
        padding: 2rem 4rem;
    }

    svg {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        margin-right: 1rem;
        fill: currentColor;
    }

    &::before,
    &::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        transition: transform 0.5s linear;
        background: var(--primary-color);
        transform: scaleY(0);
        backface-visibility: hidden;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}
