.clients-reviews {
    margin: 11rem 0;
    @include breakpoint(mobile) {
        margin: 4rem 0;
    }
}

.clients-reviews__row {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.clients-reviews__left-col {
    width: 30rem;
    flex-shrink: 0;
    margin-right: 6rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 0;
        margin: 0;
        margin-bottom: 5rem;
    }
}

.clients-reviews__right-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.clients-reviews__intro-text {
    @include textWithOrangeBar();
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.clients-reviews__numbers-item {
    margin-bottom: 3.5rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.clients-reviews__numbers-key {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.clients-reviews__numbers-value {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: var(--din);
}

.clients-reviews__list-item {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 1px solid transparent;

    &:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.08);
    }
}

.clients-reviews__card {
    padding: 7rem;
    padding-left: 8.5rem;
    padding-right: 3.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding: 2rem;
    }
}

.clients-reviews__card-quote {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: #1b377f;
    font-family: var(--din);
    margin-bottom: 4rem;
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1.9rem;
        height: 2.5rem;
        flex-shrink: 0;
        background-image: url('../img/quote-left.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 0.3rem;
        position: relative;
        bottom: .25rem;
        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 2rem;

        }
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }
}

.clients-reviews__card-watch-video {
    display: inline-flex;
    align-self: flex-end;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;

    svg {
        width: 2.8rem;
        height: 2.8rem;
        flex-shrink: 0;
        margin-right: 1rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    &:hover {
        color: #f00e0e;
    }



}

.clients-reviews__card-author {
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        margin-top: 4rem;
    }
}

.clients-reviews__card-author-image-container {
    width: 12.4rem;
    height: 12.4rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 4.2rem;
    position: relative;

    @include breakpoint(mobile) {
        width: 6rem;
        height: 6rem;
        margin-right: 2rem;
        display: none;
    }
}

.clients-reviews__card-author-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.clients-reviews__card-author-content {
    width: 50%;
    flex-grow: 1;
    font-family: var(--din);
    &::before {
        content: '';
        height: 3px;
        display: block;
        width: 3rem;
        background-color: var(--primary-color);
        margin-bottom: 2rem;
        @include breakpoint(mobile) {
            margin-bottom: 1.6rem;
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.clients-reviews__card-author-name {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 0.3rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 0.5rem;
    }
}

.clients-reviews__card-author-role {
    font-size: 2.4rem;
    line-height: 3.2rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.3;
    }
}

.clients-reviews__card-link {
    display: inline-flex;
    align-items: center;
    align-self: flex-end;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    font-family: var(--oswald);
    svg {
        width: 1.9rem;
        height: 1.9rem;
        fill: currentColor;
        margin-right: 1.2rem;
        flex-shrink: 0;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        .clients-reviews__card-link-text {
            border-color: var(--primary-color);
        }
    }
}


.clients-reviews__card-link-text {
    border-bottom: 1px solid rgba(255, 96, 0, 0.3);
    transition: border-color .2s;
}