
.licenses {
    margin-top: 10rem;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin: 3rem 0;
    }
}

.licenses__list {
    display: flex;
    flex-wrap: wrap;
    margin: -3rem -1.4rem;

    @include breakpoint(mobile) {
        margin: -2rem -1rem;
    }
}

.licenses__list-item {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.4rem;
    width: 20%;

    @include breakpoint(small-tablet) {
        width: 25%;
    }

    @include breakpoint(mobile) {
        width: 50%;
        padding: 2rem 1rem;
    }
}

.licenses__card-image-container {
    position: relative;
    margin-bottom: 2.2rem;
    background-color: #fff;
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #ebebeb;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 140%;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}

.licenses__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitContain();
}

.licenses__card-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    font-family: var(--din);
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.3;
    }
}

.licenses__card-standard {
    font-size: 2rem;
    line-height: 1.2;
    color: #1B377F;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
    }
}
