.lots {
    padding-top: 7.4rem;
    background: #f7f7f7;
    color: black;
    margin-bottom: calc(-1 * var(--footer-shift-distance));
    padding-bottom: var(--footer-shift-distance);

    @include breakpoint(mobile) {
        margin: 0;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}

.lots__layout {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.lots__sidebar {
    width: 33.4rem;
    flex-shrink: 0;
    margin-right: 3.2rem;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
        margin-bottom: 4rem;
    }
}

.lots__main {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.lots__section-heading {
    font-size: 2.8rem;
    line-height: 4.1rem;
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.lots__list-item {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.lots__card {
    display: flex;
    background-color: #fff;
    color: black;
    &:link,
    &:visited {
        color: black;
    }

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.lots__card-price {
    color: #1b377f;
    font-family: var(--din);
}

.lots__card-price-text {
    font-size: 1.8rem;
    line-height: 2.2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
    
}

.lots__card-price-amount {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 1.2;
    }
}

.lots__card-details-link {
    padding: 1.7rem 3.4rem;
    border: 1px solid #1b377f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #1b377f;
    flex-shrink: 0;
    margin-top: auto;
    transition: color 0.2s, background-color 0.2s;
    &:link,
    &:visited {
        color: #1b377f;
    }

    &:hover {
        background-color: #1b377f;
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        padding: 1.6rem 2.8rem;
    }
}

.lots__card-image-block {
    position: relative;
    width: 36.4rem;
    flex-shrink: 0;
    background-color: #f2f2f2;
    align-self: stretch;
    &::after {
        content: '';
        padding-bottom: 60%;
        display: block;
        width: 100%;
    }


    @include breakpoint(small-tablet) {
        width: 32rem;
    }
   

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
    }
}

.lots__card-image-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    .swiper-container,
    .swiper-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

.lots__card-image-slider-pagination {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;

    .swiper-pagination-bullet {
        flex-shrink: 0;
        background: rgba(255, 255, 255, 0.5);
        width: 8px;
        height: 8px;
        margin: 0 3px;
        opacity: 1;
        transition: background-color 0.2s;
        &.swiper-pagination-bullet-active {
            background-color: #fff;
            opacity: 1;
        }

        @include breakpoint(small-tablet) {
            width: 6px;
            height: 6px;
        }
    }
}

.lots__card-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.85%, #000000 143.43%);
        z-index: 10;
    }
}

.lots__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.lots__card-main-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
    padding: 3rem 3.5rem;
    @include breakpoint(mobile) {
        padding: 1.8rem;
        flex-direction: column;
        width: 100%;
        flex-grow: 0;
    }
}

.lots__card-main-content-left-col {
    width: 60%;
    padding-right: 5.4rem;
    border-right: 1px solid #d1d7e5;

    @include breakpoint(small-tablet) {
        padding-right: 2rem;
    }
    @include breakpoint(mobile) {
        border: none;
        padding: 0;
        padding-bottom: 2.4rem;
        border-bottom: 1px solid #d1d7e5;
        width: 100%;
    }
}

.lots__card-main-content-right-col {
    width: 40%;
    padding-left: 5.4rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(small-tablet) {
        padding-left: 2rem;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 0;
        padding-top: 2rem;
    }
}

.lots__card-tags {
    display: flex;
    align-items: center;

    margin-bottom: 1.2rem;
    @include breakpoint(mobile) {
        margin-bottom: 1.8rem;
    }
}

.lots__card-tag {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-family: var(--din);
    padding: 0.4rem 1.1rem;
    background-color: #f3f5f8;
    color: #1b377f;
    flex-shrink: 0;
    margin-right: 0.6rem;

    border-left: 1px solid #1b377f;
    &:last-child {
        margin-right: 0;
    }
}

.lots__card-heading {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.5rem;
    font-family: var(--din);
    margin-bottom: 1.4rem;

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.2;
    }
}

.lots__results {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.lots__card-details-list {
    margin: -0.8rem -2.5rem;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        margin: -0.5rem -2rem;
    }
}

.lots__card-details-list-item {
    width: 50%;
    flex-direction: column;
    display: flex;
    padding: 0.8rem 2.5rem;
    @include breakpoint(mobile) {
        padding: 0.5rem 2rem;
    }
}

.lots__card-details-card {
    display: flex;
    flex-direction: column;
}

.lots__card-details-card-key {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0.4rem;
    font-family: var(--din);
    color: #b8b8b8;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.lots__card-details-card-value {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: var(--din);
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
    
}

.lots__card-details-rating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    margin-left: 0.5rem;
    svg {
        flex-shrink: 0;
        width: 1.4rem;
        height: 1.4rem;
        fill: #f2f2f2;
        margin-right: 0.4rem;
        &:last-child {
            margin-right: 0;
        }
        &.icon-star--filled {
            fill: #f9d51b;
        }
    }
}

.lots__navigation-accordion {
    background-color: #fff;
    color: #1b377f;
}

.lots__navigation-accordion-button {
    display: flex;
    align-items: flex-start;
    padding: 2.4rem 2.2rem;
    transition: background-color 0.3s;
    position: relative;
    font-size: 2rem;
    line-height: 1.2;
    font-family: var(--din);
    user-select: none;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        left: 2.2rem;
        top: 0;
        right: 2.2rem;
        height: 1px;
        background-color: #e9ebf3;
        transition: all 0.3s;
    }

    .lots__navigation-accordion.active & {
        background-color: #edeff5;
        &::after {
            left: 0;
            right: 0;
        }
    }


    @include breakpoint(mobile) {
        font-size: 1.8rem;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }
}

.lots__navigation-accordion-button-icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1.5rem;
    flex-shrink: 0;
    fill: currentColor;
    margin-top: 0.35rem;
    @include breakpoint(mobile) {
        margin-top: 0.22rem;
    }
}

.lots__navigation-accordion-button-text {
    width: 40%;
    flex-grow: 1;
}

.lots__navigation-accordion-button-arrow {
    width: 1.3rem;
    height: 1.3rem;
    flex-shrink: 0;
    margin-left: 1.4rem;
    transition: transform 0.3s;
    margin-top: 0.7rem;
    .lots__navigation-accordion.active & {
        transform: rotate(180deg);
    }

    @include breakpoint(mobile) {
        margin-top: 0.6rem;
    }
}

.lots__navigation-accordion-content {
    height: 0;
    overflow: hidden;
   
}

.lots__navigation-accordion-content-inner {
    padding: 2.8rem 2.2rem;
    padding-bottom: 3.2rem;

    @include breakpoint(mobile) {
        padding-top: 2.2rem;
        padding-bottom: 2.6rem;
    }
}

.lots__navigation-list-item {
    margin-bottom: 1.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.lots__navigation-link {
    color: black;
    padding-left: 3rem;
    position: relative;
    font-size: 1.6rem;
    font-family: var(--din);
    transition: color 0.2s;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.9rem;
        width: 1.4rem;
        height: 2px;
        background-color: var(--primary-color);
        transition: opacity 0.2s;
        opacity: 0;
        pointer-events: none;
    }

    &:link,
    &:visited {
        color: black;
    }

    .lots__navigation-list-item.active & {
        color: var(--primary-color);
        &::before {
            opacity: 1;
        }
    }

    &:hover {
        color: var(--primary-color);
    }
}


.lots__pagination {
    margin-bottom: 9.2rem;
    @include breakpoint(mobile) {
        margin-bottom: 0rem;
    }
}