.modals__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 5rem 6rem;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    &.shown {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.modals__modal-inner {
    flex-shrink: 1;
    margin: auto;
    width: 100%;
    max-width: 100rem;
    background-color: #fff;
    color: black;
    position: relative;

    &--team {
        max-width: 110rem;
    }

    &--license {
        max-width: 50rem;
    }
    @include breakpoint(mobile) {
        margin: 0;
        max-width: none;
        padding: 2rem var(--content-padding);
        display: flex;
        flex-direction: column;
    }
}

.modals__modal-close {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 2.5rem;
    margin-top: -4.2rem;
    color: #e2e2e2;
    transition: color 0.2s;
    svg {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        fill: currentColor;
    }

    &:hover {
        color: white;
    }

    &:focus-visible {
        color: white;
    }

    @include breakpoint(mobile) {
        position: static;
        left: auto;
        top: auto;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-top: 0;
        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.modals__buy-modal {
    display: flex;
    padding: 7.4rem;
    padding-bottom: 7rem;

    @include breakpoint(mobile) {
        padding: 0;
        flex-direction: column;
    }
}

.modals__buy-modal-left-col {
    width: 37.2rem;
    flex-shrink: 0;
    margin-right: 3.6rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
        margin-bottom: 3rem;
    }
}

.modals__buy-modal-right-col {
    width: 40%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.modals__buy-modal-image-container {
    position: relative;
    margin-bottom: 1.8rem;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 80%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.9%, rgba(0, 0, 0, 0.2) 100%);
    }
}

.modals__buy-modal-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.modals__buy-modal-type {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: var(--din);
    margin-bottom: 0.4rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
}

.modals__buy-modal-name {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 1.2;
        margin-bottom: 0.4rem;
    }
}

.modals__buy-modal-price {
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 6rem;
    text-transform: uppercase;
    font-family: var(--din);

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
    }
}

.modals__buy-modal-form-input-wrapper {
    margin-bottom: 3rem;
    position: relative;
    & > svg {
        width: 1.3rem;
        height: 1.3rem;
        fill: rgba(255, 255, 255, 0.7);
        pointer-events: none;
        position: absolute;
        right: 2rem;
        top: 1.8rem;
    }

    @include breakpoint(mobile) {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.modals__buy-modal-form-input {
    height: 4.8rem;
    width: 100%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);

    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-left: 2rem;
    padding-right: 4rem;
    font-family: var(--din);
    color: black;
    transition: border-color 0.2s;

    &.parsley-error {
        border-color: var(--primary-color);
    }

    @include placeholder {
        opacity: 0;
    }
}

.modals__buy-modal-form-label {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: var(--din);
    color: #4d4d4d;
    cursor: text;
    position: absolute;
    left: 1rem;
    top: 1.3rem;
    transform-origin: left top;
    transition: transform 0.3s;
    background-color: white;
    padding: 0 1rem;
    user-select: none;
}

.modals__buy-modal-form-input:focus ~ .modals__buy-modal-form-label,
.modals__buy-modal-form-input:not(:placeholder-shown) ~ .modals__buy-modal-form-label {
    transform: scale(0.7) translateY(-2.9rem) translateX(0.4rem);
    cursor: default;
    pointer-events: none;
}

.modals__buy-modal-form-submit {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.7rem;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    transition: background-color 0.2s;
    width: 100%;
    .btn__inner-content {
        padding: 2rem 4rem;
    }

    &:hover {
        background-color: transparent;
    }

    @include breakpoint(mobile) {
        margin-top: 3.2rem;
    }
}

.modals__buy-modal-form-checkbox {
    display: flex;
    align-items: flex-start;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: var(--din);
    color: rgba(0, 0, 0, 0.45);
    user-select: none;
    cursor: pointer;
    margin: auto 0;
    transition: color 0.2s;
    &:hover {
        color: black;
    }

    &:focus-within {
        color: black;
    }

    &.parsley-error {
        .modals__buy-modal-form-checkbox-mark {
            color: var(--primary-color);
        }
    }
}

.modals__buy-modal-form-checkbox-input {
    @include visuallyHidden();
}

.modals__buy-modal-form-checkbox-mark {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid currentColor;
    flex-shrink: 0;
    margin-right: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;

    svg {
        width: 0.8rem;
        height: 0.6rem;
        flex-shrink: 0;
        fill: currentColor;
        transition: opacity 0.2s;
        opacity: 0;
    }
}

.modals__buy-modal-form-checkbox-input:checked ~ .modals__buy-modal-form-checkbox-mark svg {
    opacity: 1;
}

.modals__buy-modal-heading {
    font-size: 5.4rem;
    line-height: 1.2;
    color: var(--blue);
    margin-bottom: 2.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: -1rem;

    @include breakpoint(mobile) {
        margin: 0;
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.page-footer__contact-us-form-success {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    color: white;
    background-image: url('../img/success-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    .contact-form-success & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    @include breakpoint(mobile) {
        background-image: none;
        padding: 3rem var(--content-padding);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.modals__buy-modal {
    position: relative;
}

.modals__buy-modal-form-success {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    color: white;
    background-image: url('../img/modal-buy-success.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8.4rem;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    .buy-form-success & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    @include breakpoint(mobile) {
        background-image: none;
        padding: 3rem var(--content-padding);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.modals__buy-modal-form-success-content {
    max-width: 45rem;

    @include breakpoint(mobile) {
        max-width: none;
    }
}

.modals__buy-modal-form-success-large-text {
    font-size: 7.6rem;
    line-height: 9.5rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 5rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }
}

.modals__buy-modal-form-success-small-text {
    font-size: 2.8rem;
    line-height: 3.5rem;
    font-family: var(--din);
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

.modals__team-modal {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.modals__team-modal-left-col {
    width: 43rem;
    flex-shrink: 0;
    position: relative;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin-bottom: 2.4rem;
        &::after {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 75%;
        }
    }
}

.modals__team-modal-right-col {
    width: 30%;
    flex-grow: 1;
    padding: 4.5rem 6rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        padding: 0;
    }
}

.modals__team-modal-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();

    @include breakpoint(mobile) {
        @include objectFitCoverTop();
    }
}

.modals__team-modal-heading {
    font-size: 4rem;
    line-height: 5.3rem;
    color: #1b377f;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 1.3;
        margin-bottom: 1rem;
    }
}

.modals__team-modal-role {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 4rem;
    font-family: var(--din);

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.modals__team-modal-content {
    font-size: 1.8rem;
    line-height: 1.2;
    font-family: var(--din);
    margin-bottom: 5.4rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 1.2rem;
        text-transform: uppercase;
        margin-top: 3.5rem;
        font-family: var(--oswald);
        font-weight: 400;
        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-bottom: 1.2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.modals__team-modal-email {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 2.2rem;
    transition: color .2s;
    font-family: var(--din);
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        color: var(--blue);
        .modals__team-modal-email-text {
            border-color: var(--blue);
        }
    }
    svg {
        width: 2.6rem;
        height: 2.6rem;
        flex-shrink: 0;
        margin-right: 1.5rem;
        fill: var(--blue);
    }
}

.modals__team-modal-email-text {
    border-bottom: 1px solid rgba(255, 96, 0, 0.3);
    transition: border-color .2s;
}



.modals__license-modal-image {
    display: block;
    width: 100%;
    height: auto;
}