.news {
    margin-top: 11rem;
    margin-bottom: 9.2rem;
    @include breakpoint(mobile) {
        margin-top: 5rem;
        margin-bottom: 5rem;
        .container {
            display: flex;
            flex-direction: column;
        }
    }
}

.news__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.4rem;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        flex-direction: column;
        justify-content: initial;
        display: contents;
    }
}

.news__heading {
    margin-right: 4rem;
    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 4rem;
    }
}

.news__slider {
    border: 1px solid #ebebeb;
    border-left: none;
    border-right: none;
    position: relative;
    @include breakpoint(mobile) {
        border: none;
    }

    .swiper-container {
        margin: -2rem 0;
        padding: 2rem 0;
        @include breakpoint(mobile) {
            margin: 0;
            padding: 0;
            overflow: visible;
        }
    }
    .swiper-slide {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #ebebeb;
        &:last-child {
            border-right: none;
        }

        @include breakpoint(mobile) {
            border: 1px solid #ebebeb;
            border-right: none;
            &:last-child {
                border-right: 1px solid #ebebeb;
            }
        }
    }

    &::before,
    &::after {
        content: '';
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #ebebeb;
        @include breakpoint(mobile) {
            display: none;
        }
    }

    &::after {
        left: auto;
        right: 0;
    }
}

.news__slider-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5.2rem;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s, color 0.3s;
    &:link,
    &:visited {
        color: inherit;
    }

    &:hover {
        transform: translateZ(0) scale(1.07);
        color: white;

        .news__slider-card-date {
            color: white;
        }
        .news__slider-card-bg {
            opacity: 1;
        }

        @include breakpoint(mobile) {
            transform: none;
        }
    }

    @include breakpoint(mobile) {
        padding: 3.6rem;
    }
}

.news__slider-card-date {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: rgba(0, 0, 0, 0.3);
    font-family: var(--din);
    margin-bottom: 2rem;
    transition: color 0.3s;
    &::before {
        content: '';
        width: 3rem;
        height: 3px;
        background-color: var(--primary-color);
        margin-bottom: 1.1rem;
        display: block;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.news__slider-card-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: var(--din);
}

.news__slider-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 0;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.2);
    }
}

.news__slider-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.news__slider-arrows {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    @include breakpoint(mobile) {
        display: none;
    }
}


.news__all-link {
    @include breakpoint(mobile) {
        order: 8;
        margin-top: 4rem;
    }
}


.news__mobile-pagination {
    display: none;
    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        .swiper-pagination-bullet {
            width: 0.8rem;
            height: 0.8rem;
            flex-shrink: 0;
            border-radius: 50%;
            margin: 0 .5rem;
            transition: all .2s;
            outline: none;
            border: none;
            &.swiper-pagination-bullet-active {
                transform: scale(1.3);
                background-color: var(--primary-color);
            }
        }
    }
}