.next-page {
    margin: 4rem 0;
    padding: 7rem 0;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        margin: 2rem 0;
        padding: 3rem 0;
    }
}

.next-page__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(0 7rem, 100% 7rem, 100% calc(100% - 7rem), 0 calc(100% - 7rem));
    // transition: opacity .4s, clip-path .4s;


    transition: opacity .3s ease .1s, clip-path .4s;
    pointer-events: none;
    opacity: 0;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        
    }
}


.next-page__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.next-page__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 0;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transition: color .3s, border-color .3s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }


    .no-touch &:hover {
        border-color: transparent;
        .next-page__panel-text {
            color: white;
        }

        .next-page__bg {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            opacity: 1;
            transition: opacity .3s, clip-path .4s ease .1s;
        }
    }

    .touch & {
        border-color: transparent;
        .next-page__panel-text {
            color: white;
        }

        .next-page__bg {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            opacity: 1;
            transition: opacity .3s, clip-path .4s ease .1s;
        }
    }

    @include breakpoint(mobile) {
        padding: 2rem 0;
    }
 }

.next-page__panel-text {
    font-size: 3.8rem;
    line-height: 5.6rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: color .2s;
    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.3;
    }
}


.next-page__panel-arrow {
    width: 5.4rem;
    height: 5.4rem;
    margin-left: 4rem;
    flex-shrink: 0;
    background-color: currentColor;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
        fill: white;
    }


    @include breakpoint(mobile) {
        width: 3.8rem;
        height: 3.8rem;
        margin-left: 3rem;

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}