.page-intro {
    position: relative;
    z-index: 1;
    background-color: var(--blue);
    color: white;
    padding-bottom: 8rem;
    padding-top: 22rem;

    @include breakpoint(mobile) {
        padding-top: 12rem;
        padding-bottom: 5rem;
    }
}

.page-intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        z-index: 10;
    }
}

.page-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.page-intro__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .page-intro--high & {
        min-height: 46rem;
        @include breakpoint(mobile) {
            min-height: auto;
        }
    }
}

.page-intro__row {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.page-intro__left-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.page-intro__right-col {
    width: 36.8rem;
    flex-shrink: 0;
    margin-left: 2rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
    }
}

.page-intro__breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.page-intro__breadcrumbs-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: var(--din);
    flex-shrink: 0;
    &:link,
    &:visited {
        color: rgba(255, 255, 255, 0.6);
    }

    &.active,
    &:hover {
        color: white;
    }
}

.page-intro__breadcrumbs-divider {
    width: 0.6rem;
    height: 1px;
    margin: 0 0.8rem;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.page-intro__heading {
    font-size: 7rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 400;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.page-intro__text {
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 48rem;
    font-family: var(--din);
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.3;
    }
}

.page-intro__services-animation-wrapper {
    overflow: hidden;
}

.page-intro__services-animation-content {
    transition: transform 0.3s;
}

.page-intro__features-list-item {
    margin-bottom: 5.5rem;
    &:last-child {
        margin-bottom: 0;
    }



    &--reversed {
        display: flex;
        flex-direction: column-reverse;
    }


    .page-intro__features-list--compact & {
        margin-bottom: 2.5rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.page-intro__features-small-text {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0.4rem;
    font-family: var(--din);

    .page-intro__features-list-item & {
        margin-bottom: 0;
        margin-top: 0.4rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: .2rem;
        .page-intro__features-list-item & {
            margin-bottom: 0;
            margin-top: 0.2rem;
        }
    }
}

.page-intro__features-large-text {
    font-size: 5rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        font-size: 3.4rem;
        line-height: 1.2;
    }
}
