<section class="contractors">
    <div class="container">
        <div class="contractors__top-row">
            <div class="contractors__top-row-left-col">
                <h2 class="section-heading contractors__heading">
                    Заказчики
                </h2>
            </div>
            <div class="contractors__top-row-right-col">
                <div class="contractors__presentation-text">
                    Наша надежность подтверждена работой
                    с ведущими компаниями отрасли
                </div>

                <a href="#" class="btn contractors__apply-link">
                    <span class="btn__inner-content">
                        Заявка на проект
                    </span>
                </a>
            </div>
        </div>
        <div class="contractors__slider js-contractors-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="contractors__slider-card">
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/lukoil.png" alt="" class="contractors__slider-card-link-image"
                                    width="186px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/gazprom.png" alt=""
                                    class="contractors__slider-card-link-image" width="152px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/novatek.png" alt=""
                                    class="contractors__slider-card-link-image" width="200px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/transneft.png" alt=""
                                    class="contractors__slider-card-link-image" width="214px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/total.png" alt="" class="contractors__slider-card-link-image"
                                    width="60px">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="contractors__slider-card">
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/lukoil.png" alt="" class="contractors__slider-card-link-image"
                                    width="186px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/gazprom.png" alt=""
                                    class="contractors__slider-card-link-image" width="152px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/novatek.png" alt=""
                                    class="contractors__slider-card-link-image" width="200px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/transneft.png" alt=""
                                    class="contractors__slider-card-link-image" width="214px">
                            </a>
                            <a href="#" class="contractors__slider-card-link">
                                <img src="img/contractors/total.png" alt="" class="contractors__slider-card-link-image"
                                    width="60px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contractors__slider-controls">
                <div class="slider-fraction-pagination slider-fraction-pagination--dark contractors__slider-pagination">

                </div>
                <div class="slider-arrows slider-arrows--dark">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>

                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>