<section class="direction-services">
    <div class="container">
        <h2 class="section-heading direction-services__heading">
            Перечень производимых работ
        </h2>
        <ul class="direction-services__list">
            <li class="direction-services__list-item">
                <div class="direction-services__card">
                    <div class="direction-services__card-left-col">
                        <h3 class="direction-services__card-title">
                            Работы с трубопроводами
                        </h3>
                    </div>
                    <div class="direction-services__card-right-col">
                        <ul class="direction-services__card-list">
                            <li class="direction-services__card-list-item">
                                Изоляция сварных стыков
                            </li>
                            <li class="direction-services__card-list-item">
                                Ремонт заводской изоляции
                            </li>
                            <li class="direction-services__card-list-item">
                                Термическая обработка
                            </li>
                            <li class="direction-services__card-list-item">
                                Устройство электро-химзащиты
                            </li>
                            <li class="direction-services__card-list-item">
                                Очистка, гидравлическое и пневматическое испытание
                            </li>
                            <li class="direction-services__card-list-item">
                                Очистка наружной поверхности от изоляции и нанесение сплошной изоляции
                            </li>
                            <li class="direction-services__card-list-item">
                                Теплоизоляция
                            </li>
                            <li class="direction-services__card-list-item">
                                Изоляция сварных стыков комбинированным покрытием на основе битумно-полимерной мастики и
                                битумно-полимерной лен
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="direction-services__list-item">
                <div class="direction-services__card">
                    <div class="direction-services__card-left-col">
                        <h3 class="direction-services__card-title">
                            Подготовительные работы
                        </h3>
                    </div>
                    <div class="direction-services__card-right-col">
                        <ul class="direction-services__card-list">
                            <li class="direction-services__card-list-item">
                                Подготовительные работы на площадке строительства
                            </li>
                            <li class="direction-services__card-list-item">
                                Геодезическая подготовка объекта
                            </li>

                        </ul>
                    </div>
                </div>
            </li>
            <li class="direction-services__list-item">
                <div class="direction-services__card">
                    <div class="direction-services__card-left-col">
                        <h3 class="direction-services__card-title">
                            Резка труб и листового металла
                        </h3>
                    </div>
                    <div class="direction-services__card-right-col">
                        <ul class="direction-services__card-list">
                            <li class="direction-services__card-list-item">
                                Ручная кислородная
                            </li>
                            <li class="direction-services__card-list-item">
                                Машинная кислородная
                            </li>
                            <li class="direction-services__card-list-item">
                                Плазменная
                            </li>

                        </ul>
                    </div>
                </div>
            </li>
            <li class="direction-services__list-item">
                <div class="direction-services__card">
                    <div class="direction-services__card-left-col">
                        <h3 class="direction-services__card-title">
                            Монтаж
                        </h3>
                    </div>
                    <div class="direction-services__card-right-col">
                        <ul class="direction-services__card-list">
                            <li class="direction-services__card-list-item">
                                Металлоконструкции
                            </li>
                            <li class="direction-services__card-list-item">
                                Колодцы вантузов, колодцы отбора давления с сигнализатором прохождения скребка, колодцы
                                отбора давления
                            </li>
                            <li class="direction-services__card-list-item">
                                Телемеханика
                            </li>
                            <li class="direction-services__card-list-item">
                                Приборы и средста автоматизации
                            </li>
                            <li class="direction-services__card-list-item">
                                Технологическое оборудование
                            </li>

                        </ul>
                    </div>
                </div>
            </li>
            <li class="direction-services__list-item">
                <div class="direction-services__card">
                    <div class="direction-services__card-left-col">
                        <h3 class="direction-services__card-title">
                            Контроль
                        </h3>
                    </div>
                    <div class="direction-services__card-right-col">
                        <ul class="direction-services__card-list">
                            <li class="direction-services__card-list-item">
                                Входной контроль МТР
                            </li>
                            <li class="direction-services__card-list-item">
                                Контроль качества изоляции методом катодной поляризации
                            </li>
                            <li class="direction-services__card-list-item">
                                Контроль адгезии, сплошности и толщины изоляционного покрытия
                            </li>


                        </ul>
                    </div>
                </div>
            </li>
            <li class="direction-services__list-item">
                <div class="direction-services__card">
                    <div class="direction-services__card-left-col">
                        <h3 class="direction-services__card-title">
                            Другое
                        </h3>
                    </div>
                    <div class="direction-services__card-right-col">
                        <ul class="direction-services__card-list">
                            <li class="direction-services__card-list-item">
                                Погрузо-разгрузочные работы. Складирование материалов
                            </li>
                            <li class="direction-services__card-list-item">
                                Все виды земляных работ
                            </li>
                            <li class="direction-services__card-list-item">
                                Сваебойные работы
                            </li>
                            <li class="direction-services__card-list-item">
                                Изготовление отводов холодного гнутья
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>