<section class="direction-gallery">
    <div class="container">
        <h2 class="section-heading direction-gallery__heading">
            Галерея
        </h2>
        <div class="direction-gallery__slider js-direction-gallery">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="direction-gallery__slider-card">
                            <div class="direction-gallery__slider-card-bg">
                                <img data-src="img/direction-gallery.jpg" alt=""
                                    class="direction-gallery__slider-card-bg-image lazyload">
                            </div>
                            <h4 class="direction-gallery__slider-card-title">
                                Удовлетворение потребностей заказчиков и комплексная реализация проектов - в этом миссия
                                «СМУ-4»
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="direction-gallery__slider-card">
                            <div class="direction-gallery__slider-card-bg">
                                <img data-src="img/direction-bg.jpg" alt=""
                                    class="direction-gallery__slider-card-bg-image lazyload">
                            </div>
                            <h4 class="direction-gallery__slider-card-title">
                                Удовлетворение потребностей заказчиков и комплексная реализация проектов - в этом миссия
                                «СМУ-4»
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="direction-gallery__slider-controls">
                <div class="slider-fraction-pagination direction-gallery__slider-pagination">

                </div>
                <div class="slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>

                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>