<section class="direction-article">
    <div class="container">
        <div class="direction-article__row">
            <div class="direction-article__left-col">
                <article class="direction-article__content">
                    <p>
                        С 1990 г. деятельность предприятия на протяжении 30-ти лет связана с капитальным строительством,
                        ремонтом и реконструкцией объектов трубопроводного транспорта, а также нефтегазопромысловых
                        объектов, включая:
                    </p>
                    <ul>
                        <li>
                            Строительство, ремонт и реконструкция магистральных нефтегазопродуктопроводов, обустройство
                            объектов инфраструктуры;

                        </li>
                        <li>
                            Полный комплекс работ по монтажу площадочных сооружений и промысловых трубопроводов всех
                            назначений, монтаж нефтегазопромыслового оборудования;
                        </li>
                        <li>
                            Строительство объектов нефтяного и газового хозяйства;
                        </li>
                        <li>
                            Проведение контроля оборудования и материалов неразрушающими методами при строительстве,
                            монтаже, ремонте, реконструкции объектов.
                        </li>
                    </ul>
                    <p>
                        За время работы на рынке трубопроводного строительства и ремонта компания зарекомендовала себя,
                        как надежный партнер, выполняющий задания Заказчиков качественно и в срок.
                    </p>
                    <p>

                        Компетентность персонала, нацеленность на постоянное совершенствование и достижение поставленных
                        целей, постоянная работа с кадрами по обучению и повышению квалификации, позволяют поддерживать
                        высокий уровень ответственности за качество выполняемых работ.
                    </p>
                    <p>
                        С опытом компании Вы можете ознакомиться в разделах <a href="#">«Отзывы заказчиков»</a> и <a
                            href="#">«Реализованные
                            проекты».</a>
                    </p>
                </article>
            </div>
            <div class="direction-article__right-col">
                <img data-src="img/direction-article.jpg" alt="" class="direction-article__image lazyload">
            </div>
        </div>
    </div>
</section>