<section class="efforts">
  
    <div class="container">
        <div class="inner-container">
            <div class="efforts__row">
                <div class="efforts__left-column">
                    <h2 class="section-heading efforts__heading">
                        человеческие<br> условия
                    </h2>
                    <div class="efforts__text">
                        <p>
                            С уважением относимся к труду каждого
                            сотрудника и предоставляем условия для
                            комфортной деятельности
                        </p>
                    </div>
                    <div class="efforts__years">
                        <div class="efforts__years-amount">
                            30 лет
                        </div>
                        <div class="efforts__years-text">
                            мы работаем для вас!
                        </div>
                    </div>
                </div>
                <div class="efforts__right-column">
                    <ul class="efforts__list">
                        <li class="efforts__list-item">
                            <div class="efforts__card">
                                <img data-src="img/efforts/1.svg" alt="" class="efforts__card-icon lazyload">
                                <div class="efforts__card-text">
                                    Белая заработная<br>
                                    плата и своевременные выплаты
                                </div>
                            </div>
                        </li>
                        <li class="efforts__list-item">
                            <div class="efforts__card">
                                <img data-src="img/efforts/2.svg" alt="" class="efforts__card-icon lazyload">
                                <div class="efforts__card-text">
                                    Проживание, проезд и питание за счет работодателя
                                </div>
                            </div>
                        </li>
                        <li class="efforts__list-item">
                            <div class="efforts__card">
                                <img data-src="img/efforts/3.svg" alt="" class="efforts__card-icon lazyload">
                                <div class="efforts__card-text">
                                    Безопасные условия труда
                                    и спец. одежда
                                </div>
                            </div>
                        </li>
                        <li class="efforts__list-item">
                            <div class="efforts__card">
                                <img data-src="img/efforts/4.svg" alt="" class="efforts__card-icon lazyload">
                                <div class="efforts__card-text">
                                    Профессиональный рост
                                    и сплоченный коллектив
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>