<footer class="page-footer">
    <div class="page-footer__contact-us" id="contact-us">
        <div class="container">
            <div class="page-footer__contact-us-row">
                {{#if layeredContactsForm}}
                <div class="page-footer__contact-us-left-col">
                    <h2 class="page-footer__contact-us-heading">
                        Пишите нам<br>
                        <span class="contour-text">
                            по любым<br> темам
                        </span>
                    </h2>
                </div>
                <div class="page-footer__contact-us-right-col js-contact-us-tabs">
                    <div class="page-footer__contact-us-tabs-nav">
                        <a href="#" class="page-footer__contact-us-tabs-nav-btn js-tabs-nav">
                            Сотрудничество
                        </a>
                        <a href="#" class="page-footer__contact-us-tabs-nav-btn js-tabs-nav">
                            Отзыв
                        </a>
                        <a href="#" class="page-footer__contact-us-tabs-nav-btn js-tabs-nav">
                            Запрос или жалоба
                        </a>
                    </div>
                    <div class="page-footer__contact-us-form-layers">
                        <div class="page-footer__contact-us-form-layer js-tabs-item">
                            <form action="/" method="POST" class="page-footer__contact-us-form" data-need-validation
                                id="contact-form">
                                <div class="page-footer__contact-us-form-row">
                                    <div class="page-footer__contact-us-form-left-col">
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="text" class="page-footer__contact-us-form-input" id="name"
                                                placeholder="Имя" required>
                                            <label for="name" class="page-footer__contact-us-form-label">Имя</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-person">
                                                <use xlink:href="#form-person" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="tel" class="page-footer__contact-us-form-input js-phone-input"
                                                id="phone" placeholder="Телефон" required data-parsley-phone>
                                            <label for="phone"
                                                class="page-footer__contact-us-form-label">Телефон</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-phone">
                                                <use xlink:href="#form-phone" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="email" class="page-footer__contact-us-form-input" id="email"
                                                placeholder="E-mail" required>
                                            <label for="email" class="page-footer__contact-us-form-label">E-mail</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-email">
                                                <use xlink:href="#form-email" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="text" class="page-footer__contact-us-form-input" id="company"
                                                placeholder="Компания">
                                            <label for="company"
                                                class="page-footer__contact-us-form-label">Компания</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-company">
                                                <use xlink:href="#form-company" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__contact-us-form-right-col">
                                        <div
                                            class="page-footer__contact-us-form-wrapper page-footer__contact-us-form-wrapper--stretchy">
                                            <textarea id="comment" name="comment"
                                                class="page-footer__contact-us-form-input"
                                                placeholder="Комментарий"></textarea>
                                            <label for="comment"
                                                class="page-footer__contact-us-form-label">Комментарий</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-pencil">
                                                <use xlink:href="#form-pencil" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__contact-us-form-left-col">
                                        <label class="page-footer__contact-us-form-checkbox">
                                            <input type="checkbox" name="policy"
                                                class="page-footer__contact-us-form-checkbox-input" required>
                                            <span class="page-footer__contact-us-form-checkbox-mark">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="page-footer__contact-us-form-checkbox-content">
                                                Даю согласие на обработку персональных данных
                                            </span>
                                        </label>

                                    </div>
                                    <div class="page-footer__contact-us-form-right-col">
                                        <button type="submit"
                                            class="btn news__all-link page-footer__contact-us-form-submit">
                                            <span class="btn__inner-content">
                                                Отправить
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="page-footer__contact-us-form-layer js-tabs-item">
                            <form action="/" method="POST" class="page-footer__contact-us-form" data-need-validation
                                id="review-form" enctype="multipart/form-data">
                                <div class="page-footer__contact-us-form-row">
                                    <div class="page-footer__contact-us-form-left-col">
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="text" class="page-footer__contact-us-form-input"
                                                id="review-name" placeholder="Имя" required>
                                            <label for="review-name"
                                                class="page-footer__contact-us-form-label">Имя</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-person">
                                                <use xlink:href="#form-person" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="tel" class="page-footer__contact-us-form-input js-phone-input"
                                                id="review-phone" placeholder="Телефон" required data-parsley-phone>
                                            <label for="review-phone"
                                                class="page-footer__contact-us-form-label">Телефон</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-phone">
                                                <use xlink:href="#form-phone" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="email" class="page-footer__contact-us-form-input"
                                                id="review-email" placeholder="E-mail" required>
                                            <label for="review-email"
                                                class="page-footer__contact-us-form-label">E-mail</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-email">
                                                <use xlink:href="#form-email" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <div class="page-footer__contact-us-file-upload js-file-upload">
                                                <input type="file" name="file" id="review-file"
                                                    class="page-footer__contact-us-file-upload-input" accept=".doc, .pdf">
                                                <label for="review-file"
                                                    class="page-footer__contact-us-file-upload-label">Прикрепите резюме
                                                    DOC, PDF</label>

                                            </div>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-file">
                                                <use xlink:href="#file" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__contact-us-form-right-col">
                                        <div
                                            class="page-footer__contact-us-form-wrapper page-footer__contact-us-form-wrapper--stretchy">
                                            <textarea id="review-comment" name="comment"
                                                class="page-footer__contact-us-form-input"
                                                placeholder="Отзыв о нашей работе"></textarea>
                                            <label for="review-comment" class="page-footer__contact-us-form-label">Отзыв
                                                о нашей работе</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-pencil">
                                                <use xlink:href="#form-pencil" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__contact-us-form-left-col">

                                        <label class="page-footer__contact-us-form-checkbox">
                                            <input type="checkbox" name="policy"
                                                class="page-footer__contact-us-form-checkbox-input" required>
                                            <span class="page-footer__contact-us-form-checkbox-mark">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="page-footer__contact-us-form-checkbox-content">
                                                Даю согласие на обработку персональных данных
                                            </span>
                                        </label>
                                    </div>
                                    <div class="page-footer__contact-us-form-right-col">
                                        <button type="submit"
                                            class="btn news__all-link page-footer__contact-us-form-submit">
                                            <span class="btn__inner-content">
                                                Отправить
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="page-footer__contact-us-form-layer js-tabs-item">
                            <form action="/" method="POST" class="page-footer__contact-us-form" data-need-validation
                                id="report-form">
                                <div class="page-footer__contact-us-form-row">
                                    <div class="page-footer__contact-us-form-left-col">
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="text" class="page-footer__contact-us-form-input"
                                                id="report-name" placeholder="Имя" required>
                                            <label for="report-name"
                                                class="page-footer__contact-us-form-label">Имя</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-person">
                                                <use xlink:href="#form-person" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="tel" class="page-footer__contact-us-form-input js-phone-input"
                                                id="report-phone" placeholder="Телефон" required data-parsley-phone>
                                            <label for="report-phone"
                                                class="page-footer__contact-us-form-label">Телефон</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-phone">
                                                <use xlink:href="#form-phone" />
                                            </svg>
                                        </div>
                                        <div class="page-footer__contact-us-form-wrapper">
                                            <input type="email" class="page-footer__contact-us-form-input"
                                                id="report-email" placeholder="E-mail" required>
                                            <label for="report-email"
                                                class="page-footer__contact-us-form-label">E-mail</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-email">
                                                <use xlink:href="#form-email" />
                                            </svg>
                                        </div>

                                    </div>
                                    <div class="page-footer__contact-us-form-right-col">
                                        <div
                                            class="page-footer__contact-us-form-wrapper page-footer__contact-us-form-wrapper--stretchy">
                                            <textarea id="report-comment" name="comment"
                                                class="page-footer__contact-us-form-input"
                                                placeholder="Комментарий"></textarea>
                                            <label for="report-comment"
                                                class="page-footer__contact-us-form-label">Предложение или
                                                жалоба</label>
                                            <svg width="12" height="12" aria-hidden="true" class="icon-form-pencil">
                                                <use xlink:href="#form-pencil" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__contact-us-form-left-col">
                                        <label class="page-footer__contact-us-form-checkbox">
                                            <input type="checkbox" name="policy"
                                                class="page-footer__contact-us-form-checkbox-input" required>
                                            <span class="page-footer__contact-us-form-checkbox-mark">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="page-footer__contact-us-form-checkbox-content">
                                                Даю согласие на обработку персональных данных
                                            </span>
                                        </label>
                                    </div>
                                    <div class="page-footer__contact-us-form-right-col">



                                        <button type="submit"
                                            class="btn news__all-link page-footer__contact-us-form-submit">
                                            <span class="btn__inner-content">
                                                Отправить
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                {{else}}
                <div class="page-footer__contact-us-left-col">
                    <h2 class="page-footer__contact-us-heading">
                        Свяжитесь<br>
                        <span class="contour-text">
                            С нами
                        </span>
                    </h2>
                </div>
                <div class="page-footer__contact-us-right-col">
                    <form action="/" method="POST" class="page-footer__contact-us-form" data-need-validation
                        id="contact-form">
                        <div class="page-footer__contact-us-form-row">
                            <div class="page-footer__contact-us-form-left-col">
                                <div class="page-footer__contact-us-form-wrapper">
                                    <input type="text" class="page-footer__contact-us-form-input" id="name"
                                        placeholder="Имя" required>
                                    <label for="name" class="page-footer__contact-us-form-label">Имя</label>
                                    <svg width="12" height="12" aria-hidden="true" class="icon-form-person">
                                        <use xlink:href="#form-person" />
                                    </svg>
                                </div>
                                <div class="page-footer__contact-us-form-wrapper">
                                    <input type="tel" class="page-footer__contact-us-form-input js-phone-input"
                                        id="phone" placeholder="Телефон" required data-parsley-phone>
                                    <label for="phone" class="page-footer__contact-us-form-label">Телефон</label>
                                    <svg width="12" height="12" aria-hidden="true" class="icon-form-phone">
                                        <use xlink:href="#form-phone" />
                                    </svg>
                                </div>
                                <div class="page-footer__contact-us-form-wrapper">
                                    <input type="email" class="page-footer__contact-us-form-input" id="email"
                                        placeholder="E-mail" required>
                                    <label for="email" class="page-footer__contact-us-form-label">E-mail</label>
                                    <svg width="12" height="12" aria-hidden="true" class="icon-form-email">
                                        <use xlink:href="#form-email" />
                                    </svg>
                                </div>
                                <div class="page-footer__contact-us-form-wrapper">
                                    <input type="text" class="page-footer__contact-us-form-input" id="company"
                                        placeholder="Компания">
                                    <label for="company" class="page-footer__contact-us-form-label">Компания</label>
                                    <svg width="12" height="12" aria-hidden="true" class="icon-form-company">
                                        <use xlink:href="#form-company" />
                                    </svg>
                                </div>
                            </div>
                            <div class="page-footer__contact-us-form-right-col">
                                <div
                                    class="page-footer__contact-us-form-wrapper page-footer__contact-us-form-wrapper--stretchy">
                                    <textarea id="comment" name="comment" class="page-footer__contact-us-form-input"
                                        placeholder="Комментарий"></textarea>
                                    <label for="comment" class="page-footer__contact-us-form-label">Комментарий</label>
                                    <svg width="12" height="12" aria-hidden="true" class="icon-form-pencil">
                                        <use xlink:href="#form-pencil" />
                                    </svg>
                                </div>
                            </div>
                            <div class="page-footer__contact-us-form-left-col">
                                <button type="submit" class="btn news__all-link page-footer__contact-us-form-submit">
                                    <span class="btn__inner-content">
                                        Отправить
                                    </span>
                                </button>
                            </div>
                            <div class="page-footer__contact-us-form-right-col">
                                <label class="page-footer__contact-us-form-checkbox">
                                    <input type="checkbox" name="policy"
                                        class="page-footer__contact-us-form-checkbox-input" required>
                                    <span class="page-footer__contact-us-form-checkbox-mark">
                                        <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark" />
                                        </svg>
                                    </span>
                                    <span class="page-footer__contact-us-form-checkbox-content">
                                        Даю согласие на обработку персональных данных
                                    </span>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>
                {{/if}}

                <div class="page-footer__contact-us-form-success">
                    <div class="page-footer__contact-us-form-success-content">
                        <div class="page-footer__contact-us-form-success-large-text">
                            Спасибо,<br>
                            <span class="contour-text">
                                Ваша заявка</span><br>
                            <span class="contour-text">Отправлена</span>
                        </div>
                        <div class="page-footer__contact-us-form-success-small-text">
                            <p>
                                В течение нескольких минут вам перезвонит наш сотрудник. Пожалуйста, оставайтесь
                                на связи.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer__bottom-panel">
        <div class="page-footer__bottom-panel-bg">
            <img src="img/page-footer.jpg" alt="Изображение в футере" class="page-footer__bottom-panel-bg-image">
        </div>
        <div class="container">
            <div class="page-footer__bottom-panel-top-row">
                <a href="#" class="page-footer__bottom-panel-logo">
                    <img src="img/logo.png" alt="Логотип" class="page-footer__bottom-panel-logo-image" width="52">
                    <img src="img/SMU-4.svg" alt="" class="page-footer__bottom-panel-logo-text-image" width="78">
                </a>
                <div class="page-footer__bottom-panel-phone-links">
                    <a href="tel:+73472538978" class="page-footer__bottom-panel-phone-link">
                        +7 347 253-89-78
                    </a>
                    <a href="tel:+73466723068" class="page-footer__bottom-panel-phone-link">
                        +7 346 672-30-68
                    </a>
                </div>
                <div class="page-footer__bottom-panel-address-and-email">
                    <a href="mailto:smu_4@ufanet.ru" class="page-footer__bottom-panel-email-link">
                        smu_4@ufanet.ru
                    </a>
                    <div class="page-footer__bottom-panel-address-text">
                        Россия, г. Уфа, ул. Комсомольская, 18<br>
                        450097
                    </div>
                </div>
            </div>
            <div class="page-footer__bottom-panel-bottom-row">
                <div class="page-footer__bottom-panel-copyright">
                    © ООО «СМУ-4», 2016–2020
                </div>
                <a href="#" class="page-footer__bottom-panel-link">
                    Политика обработки персональных данных
                </a>
                <a href="#" class="page-footer__bottom-panel-link">
                    Вакансии
                </a>
                <a href="#" class="page-footer__made-by">
                    Создание сайта
                    <img src="img/mark-weber-logo.svg" alt="Логотип Mark Weber" class="page-footer__made-by-image">
                </a>
            </div>
        </div>

    </div>

</footer>