<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__left-col">
                <a href="#" class="page-header__logo">
                    {{#if darkHeader}}
                    <img src="img/dark-logo.png" alt="Логотип" class="page-header__logo-image" width="52">
                    <img src="img/SMU-4-dark.svg" alt="" class="page-header__logo-text-image" width="78">
                    {{else}}
                    <img src="img/logo.png" alt="Логотип" class="page-header__logo-image" width="52">
                    <img src="img/SMU-4.svg" alt="" class="page-header__logo-text-image" width="78">
                    {{/if}}


                </a>
                <div class="page-header__language">
                    <a href="#" class="page-header__language-link active">
                        RU
                    </a>
                    <span class="page-header__language-divider">

                    </span>
                    <a href="#" class="page-header__language-link">
                        EN
                    </a>
                </div>
            </div>
            <div class="page-header__right-col">
                <button class="page-header__open-menu js-menu-open">
                    <span class="page-header__open-menu-content">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <a href="tel:+73472538978" class="page-header__phone">+7 347 253-89-78</a>
            </div>
        </div>
    </div>
</header>