<section class="intro js-intro">
    <div class="intro__bg-layers">
        <div class="intro__bg-layers-base-bg">
            <img src="img/intro-bg.jpg" alt="" class="intro__bg-layers-base-bg-image">
        </div>
        <div class="intro__bg-layer js-intro-bg-layer">
            <img src="img/intro-bg-2.jpg" alt="" class="intro__bg-layer-image">
        </div>
        <div class="intro__bg-layer js-intro-bg-layer">
            <img src="img/intro-bg-3.jpg" alt="" class="intro__bg-layer-image">
        </div>
        <div class="intro__bg-layer js-intro-bg-layer">
            <img src="img/intro-bg-4.jpg" alt="" class="intro__bg-layer-image">
        </div>
    </div>
    <div class="container">
        <div class="intro__fullheight">


            <div class="intro__row">
                <div class="intro__left-column">
                    <div class="intro__services">
                        <div class="intro__services-animation-wrapper">
                            <div class="intro__services-animation-content">
                                <a href="#" class="intro__services-text js-hoverable-link">
                                    Строительство,
                                </a>
                            </div>
                        </div>
                        <div class="intro__services-animation-wrapper">
                            <div class="intro__services-animation-content">
                                <a href="#" class="intro__services-text js-hoverable-link">
                                    ремонт
                                </a>
                            </div>
                        </div>
                        <div class="intro__services-animation-wrapper">
                            <div class="intro__services-animation-content">
                                <a href="#" class="intro__services-text js-hoverable-link">
                                    и реконструкция
                                </a>
                            </div>
                        </div>
                        <div class="intro__services-animation-wrapper">
                            <div class="intro__services-animation-content">
                                <div class="intro__services-text intro__services-text--filled">
                                    объектов нефтегазовой
                                </div>
                            </div>
                        </div>
                        <div class="intro__services-animation-wrapper">
                            <div class="intro__services-animation-content">
                                <div class="intro__services-text intro__services-text--filled">
                                    отрасли
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro__right-column">
                    <ul class="intro__features-list">
                        <li class="intro__features-list-item">
                            <div class="intro__services-animation-wrapper">
                                <div class="intro__services-animation-content">
                                    <h4 class="intro__features-heading">
                                        Опыт работы в сфере
                                    </h4>
                                </div>
                            </div>
                            <div class="intro__services-animation-wrapper">
                                <div class="intro__services-animation-content">
                                    <div class="intro__features-text">
                                        28 лет
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="intro__features-list-item">
                            <div class="intro__services-animation-wrapper">
                                <div class="intro__services-animation-content">
                                    <h4 class="intro__features-heading">
                                        Входим в структуру
                                    </h4>
                                </div>

                            </div>
                            <div class="intro__services-animation-wrapper">

                                <div class="intro__services-animation-content">
                                    <div class="intro__features-text">
                                        АО ГСИ
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="intro__features-list-item">
                            <div class="intro__services-animation-wrapper">
                                <div class="intro__services-animation-content">
                                    <h4 class="intro__features-heading">
                                        Стандарт качества
                                    </h4>
                                </div>
                            </div>
                            <div class="intro__services-animation-wrapper">
                                <div class="intro__services-animation-content">
                                    <div class="intro__features-text">
                                        TUV NORD
                                    </div>
                                </div>
                            </div>
                            <div class="intro__services-animation-wrapper">
                                <div class="intro__services-animation-content">
                                    <div class="intro__features-text intro__features-text--small">
                                        ISO 9001:2015
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>