<section class="join">
    <div class="join__bg">
        <img data-src="img/services/2.jpg" alt="" class="join__bg-image lazyload">
    </div>
    <div class="container">
        <div class="join__content">
            <h2 class="section-heading join__heading">
                Присоединяйтесь <br>
                к команде<br> профессионалов
            </h2>
            <div class="join__text">
                Приглашаем в команду квалифицированных
                специалистов, разделяющих цели и принципы работы компании
            </div>
            <a href="#" class="join__headhunter-link">
                <img src="img/hh-logo.png" alt="" class="join__headhunter-link-logo">
                Вакансии на HH
            </a>
        </div>
        <ul class="join__vacancies-list">
            <li class="join__vacancies-list-item">
                <div class="join__vacancies-card js-join-accordion">
                    <div class="join__vacancies-card-left-col">
                        <h3 class="join__vacancies-card-name js-accordion-btn">
                            МОНТАЖНИК
                        </h3>
                    </div>
                    <div class="join__vacancies-card-right-col">
                        <div class="join__vacancies-card-city js-accordion-btn">
                            Буденновск
                        </div>
                        <div class="join__vacancies-card-description">
                            <div class="join__vacancies-card-description-accordion-content js-accordion-content">
                                <div class="join__vacancies-card-description-inner">
                                    <div class="join__vacancies-card-description-content js-accordion-btn">
                                        <p>
                                            <em>Требуемый опыт работы:</em> 3–6 лет<br>
                                            Полная занятость, Вахтовый метод<br>
                                            В связи увеличением объёмов работ в компанию СМУ-4 требуются:
                                            Монтажники-сварщики
                                            для проведения круглогодичных работ без<br> простоев между объектами.
                                        </p>
                                        <p>
                                            <em>Требования:</em><br>
                                            - опыт работы не менее 3-х лет;<br>
                                            - ответственность и исполнительность;<br>
                                            - выполнение работ по сварке, монтажу технологических<br>
                                            трубопроводов и металлоконструкциях;<br>
                                            - чтение чертежей.<br>
                                        </p>
                                        <p>
                                            <em>Условия работы:</em><br>
                                            - График работы 6/1;<br>
                                            - Спецодежда и инструмент предоставляются;<br>
                                            - Проезд, проживание и питание за счет работодателя;<br>
                                            - Оплата ежемесячная;<br>
                                            - Уровень ЗП<br>
                                        </p>
                                        <p>
                                            Для сварщиков от <em>85 тыс. р/месяц</em><br>
                                            Для монтажников <em>от 75 тыс. р/месяц</em>
                                        </p>
                                    </div>
                                    <a href="#" class="btn join__vacancies-card-apply-link">
                                        <span class="btn__inner-content">
                                            Откликнуться на НН
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="join__vacancies-card-plus-icon js-accordion-btn">
                            <span class="join__vacancies-card-plus-icon-bg"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="join__vacancies-list-item">
                <div class="join__vacancies-card js-join-accordion">
                    <div class="join__vacancies-card-left-col">
                        <h3 class="join__vacancies-card-name js-accordion-btn">
                            ПРОИЗВОДИТЕЛЬ РАБОТ
                        </h3>
                    </div>
                    <div class="join__vacancies-card-right-col">
                        <div class="join__vacancies-card-city js-accordion-btn">
                            Ставрополь
                        </div>
                        <div class="join__vacancies-card-description">
                            <div class="join__vacancies-card-description-accordion-content js-accordion-content">
                                <div class="join__vacancies-card-description-inner">
                                    <div class="join__vacancies-card-description-content js-accordion-btn">
                                        <p>
                                            <em>Требуемый опыт работы:</em> 3–6 лет<br>
                                            Полная занятость, Вахтовый метод<br>
                                            В связи увеличением объёмов работ в компанию СМУ-4 требуются:
                                            Монтажники-сварщики
                                            для проведения круглогодичных работ без<br> простоев между объектами.
                                        </p>
                                        <p>
                                            <em>Требования:</em><br>
                                            - опыт работы не менее 3-х лет;<br>
                                            - ответственность и исполнительность;<br>
                                            - выполнение работ по сварке, монтажу технологических<br>
                                            трубопроводов и металлоконструкциях;<br>
                                            - чтение чертежей.<br>
                                        </p>
                                        <p>
                                            <em>Условия работы:</em><br>
                                            - График работы 6/1;<br>
                                            - Спецодежда и инструмент предоставляются;<br>
                                            - Проезд, проживание и питание за счет работодателя;<br>
                                            - Оплата ежемесячная;<br>
                                            - Уровень ЗП<br>
                                        </p>
                                        <p>
                                            Для сварщиков от <em>85 тыс. р/месяц</em><br>
                                            Для монтажников <em>от 75 тыс. р/месяц</em>
                                        </p>
                                    </div>
                                    <a href="#" class="btn join__vacancies-card-apply-link">
                                        <span class="btn__inner-content">
                                            Откликнуться на НН
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="join__vacancies-card-plus-icon js-accordion-btn">
                            <span class="join__vacancies-card-plus-icon-bg"></span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="join__vacancies-list-item">
                <div class="join__vacancies-card js-join-accordion">
                    <div class="join__vacancies-card-left-col">
                        <h3 class="join__vacancies-card-name js-accordion-btn">
                            СВАРЩИК
                        </h3>
                    </div>
                    <div class="join__vacancies-card-right-col">
                        <div class="join__vacancies-card-city js-accordion-btn">
                            Буденновск
                        </div>
                        <div class="join__vacancies-card-description">
                            <div class="join__vacancies-card-description-accordion-content js-accordion-content">
                                <div class="join__vacancies-card-description-inner">
                                    <div class="join__vacancies-card-description-content js-accordion-btn">
                                        <p>
                                            <em>Требуемый опыт работы:</em> 3–6 лет<br>
                                            Полная занятость, Вахтовый метод<br>
                                            В связи увеличением объёмов работ в компанию СМУ-4 требуются:
                                            Монтажники-сварщики
                                            для проведения круглогодичных работ без<br> простоев между объектами.
                                        </p>
                                        <p>
                                            <em>Требования:</em><br>
                                            - опыт работы не менее 3-х лет;<br>
                                            - ответственность и исполнительность;<br>
                                            - выполнение работ по сварке, монтажу технологических<br>
                                            трубопроводов и металлоконструкциях;<br>
                                            - чтение чертежей.<br>
                                        </p>
                                        <p>
                                            <em>Условия работы:</em><br>
                                            - График работы 6/1;<br>
                                            - Спецодежда и инструмент предоставляются;<br>
                                            - Проезд, проживание и питание за счет работодателя;<br>
                                            - Оплата ежемесячная;<br>
                                            - Уровень ЗП<br>
                                        </p>
                                        <p>
                                            Для сварщиков от <em>85 тыс. р/месяц</em><br>
                                            Для монтажников <em>от 75 тыс. р/месяц</em>
                                        </p>
                                    </div>
                                    <a href="#" class="btn join__vacancies-card-apply-link">
                                        <span class="btn__inner-content">
                                            Откликнуться на НН
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="join__vacancies-card-plus-icon js-accordion-btn">
                            <span class="join__vacancies-card-plus-icon-bg"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="join__vacancies-list-item">
                <div class="join__vacancies-card js-join-accordion">
                    <div class="join__vacancies-card-left-col">
                        <h3 class="join__vacancies-card-name js-accordion-btn">
                            ИНЖЕНЕР
                        </h3>
                    </div>
                    <div class="join__vacancies-card-right-col">
                        <div class="join__vacancies-card-city js-accordion-btn">
                            Щекино
                        </div>
                        <div class="join__vacancies-card-description">
                            <div class="join__vacancies-card-description-accordion-content js-accordion-content">
                                <div class="join__vacancies-card-description-inner">
                                    <div class="join__vacancies-card-description-content js-accordion-btn">
                                        <p>
                                            <em>Требуемый опыт работы:</em> 3–6 лет<br>
                                            Полная занятость, Вахтовый метод<br>
                                            В связи увеличением объёмов работ в компанию СМУ-4 требуются:
                                            Монтажники-сварщики
                                            для проведения круглогодичных работ без<br> простоев между объектами.
                                        </p>
                                        <p>
                                            <em>Требования:</em><br>
                                            - опыт работы не менее 3-х лет;<br>
                                            - ответственность и исполнительность;<br>
                                            - выполнение работ по сварке, монтажу технологических<br>
                                            трубопроводов и металлоконструкциях;<br>
                                            - чтение чертежей.<br>
                                        </p>
                                        <p>
                                            <em>Условия работы:</em><br>
                                            - График работы 6/1;<br>
                                            - Спецодежда и инструмент предоставляются;<br>
                                            - Проезд, проживание и питание за счет работодателя;<br>
                                            - Оплата ежемесячная;<br>
                                            - Уровень ЗП<br>
                                        </p>
                                        <p>
                                            Для сварщиков от <em>85 тыс. р/месяц</em><br>
                                            Для монтажников <em>от 75 тыс. р/месяц</em>
                                        </p>
                                    </div>
                                    <a href="#" class="btn join__vacancies-card-apply-link">
                                        <span class="btn__inner-content">
                                            Откликнуться на НН
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="join__vacancies-card-plus-icon js-accordion-btn">
                            <span class="join__vacancies-card-plus-icon-bg"></span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="join__vacancies-list-item">
                <div class="join__vacancies-card js-join-accordion">
                    <div class="join__vacancies-card-left-col">
                        <h3 class="join__vacancies-card-name js-accordion-btn">
                            МАШИНИСТ АВТОМОБИЛЬНОГО КРАНА
                        </h3>
                    </div>
                    <div class="join__vacancies-card-right-col">
                        <div class="join__vacancies-card-city js-accordion-btn">
                            Волгоград
                        </div>
                        <div class="join__vacancies-card-description">
                            <div class="join__vacancies-card-description-accordion-content js-accordion-content">
                                <div class="join__vacancies-card-description-inner">
                                    <div class="join__vacancies-card-description-content js-accordion-btn">
                                        <p>
                                            <em>Требуемый опыт работы:</em> 3–6 лет<br>
                                            Полная занятость, Вахтовый метод<br>
                                            В связи увеличением объёмов работ в компанию СМУ-4 требуются:
                                            Монтажники-сварщики
                                            для проведения круглогодичных работ без<br> простоев между объектами.
                                        </p>
                                        <p>
                                            <em>Требования:</em><br>
                                            - опыт работы не менее 3-х лет;<br>
                                            - ответственность и исполнительность;<br>
                                            - выполнение работ по сварке, монтажу технологических<br>
                                            трубопроводов и металлоконструкциях;<br>
                                            - чтение чертежей.<br>
                                        </p>
                                        <p>
                                            <em>Условия работы:</em><br>
                                            - График работы 6/1;<br>
                                            - Спецодежда и инструмент предоставляются;<br>
                                            - Проезд, проживание и питание за счет работодателя;<br>
                                            - Оплата ежемесячная;<br>
                                            - Уровень ЗП<br>
                                        </p>
                                        <p>
                                            Для сварщиков от <em>85 тыс. р/месяц</em><br>
                                            Для монтажников <em>от 75 тыс. р/месяц</em>
                                        </p>
                                    </div>
                                    <a href="#" class="btn join__vacancies-card-apply-link">
                                        <span class="btn__inner-content">
                                            Откликнуться на НН
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="join__vacancies-card-plus-icon js-accordion-btn">
                            <span class="join__vacancies-card-plus-icon-bg"></span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>