<section class="lots">
    <div class="container">
        <div class="lots__layout">
            <div class="lots__sidebar">
                <h2 class="lots__section-heading">
                    Категории
                </h2>
                <div class="lots__navigation">
                    <div class="lots__navigation-accordion js-lots-nav-accordion" data-initially-open>
                        <div class="lots__navigation-accordion-button js-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-bus lots__navigation-accordion-button-icon">
                                <use xlink:href="#bus" />
                            </svg>
                            <span class="lots__navigation-accordion-button-text">
                                Автотранспорт
                            </span>
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-bus lots__navigation-accordion-button-arrow">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </div>
                        <div class="lots__navigation-accordion-content js-accordion-content">
                            <div class="lots__navigation-accordion-content-inner">
                                <ul class="lots__navigation-list">
                                    <li class="lots__navigation-list-item active">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Автокраны
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Экскаваторы
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Краны-трубоукладчики
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lots__navigation-accordion js-lots-nav-accordion">
                        <div class="lots__navigation-accordion-button js-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-dozer lots__navigation-accordion-button-icon">
                                <use xlink:href="#dozer" />
                            </svg>
                            <span class="lots__navigation-accordion-button-text">
                                Строительная техника
                            </span>
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-bus lots__navigation-accordion-button-arrow">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </div>
                        <div class="lots__navigation-accordion-content js-accordion-content">
                            <div class="lots__navigation-accordion-content-inner">
                                <ul class="lots__navigation-list">
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Автокраны
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Экскаваторы
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Краны-трубоукладчики
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lots__navigation-accordion js-lots-nav-accordion">
                        <div class="lots__navigation-accordion-button js-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-tools lots__navigation-accordion-button-icon">
                                <use xlink:href="#tools" />
                            </svg>
                            <span class="lots__navigation-accordion-button-text">
                                Оборудование
                                для ремонта трубопровода
                            </span>
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-bus lots__navigation-accordion-button-arrow">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </div>
                        <div class="lots__navigation-accordion-content js-accordion-content">
                            <div class="lots__navigation-accordion-content-inner">
                                <ul class="lots__navigation-list">
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Автокраны
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Экскаваторы
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Краны-трубоукладчики
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lots__navigation-accordion js-lots-nav-accordion">
                        <div class="lots__navigation-accordion-button js-accordion-btn">
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-others lots__navigation-accordion-button-icon">
                                <use xlink:href="#others" />
                            </svg>
                            <span class="lots__navigation-accordion-button-text">
                                Прочее
                            </span>
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-bus lots__navigation-accordion-button-arrow">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </div>
                        <div class="lots__navigation-accordion-content js-accordion-content">
                            <div class="lots__navigation-accordion-content-inner">
                                <ul class="lots__navigation-list">
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Автокраны
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Экскаваторы
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Краны-трубоукладчики
                                        </a>
                                    </li>
                                    <li class="lots__navigation-list-item">
                                        <a href="#" class="lots__navigation-link">
                                            Бульдозеры
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lots__main">
                <h2 class="lots__section-heading">
                    Бульдозеры: 24 модели
                </h2>
                <div class="lots__results">
                    <ul class="lots__list">
                        <li class="lots__list-item">
                            <div class="lots__card">
                                <div class="lots__card-image-block ">
                                    <div class="lots__card-image-slider js-lots-image-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lots__card-image-slider-pagination">

                                        </div>
                                    </div>

                                </div>
                                <div class="lots__card-main-content">
                                    <div class="lots__card-main-content-left-col">
                                        <div class="lots__card-tags">
                                            <div class="lots__card-tag">
                                                Бульдозер
                                            </div>
                                        </div>
                                        <h3 class="lots__card-heading">
                                            CATERPILLAR - D5H LGP
                                        </h3>
                                        <div class="lots__card-details">
                                            <ul class="lots__card-details-list">
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Расположение:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Москва
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Год выпуска:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            1980
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Состояние:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Б/у <span class="lots__card-details-rating">
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="lots__card-main-content-right-col">
                                        <div class="lots__card-price">
                                            <div class="lots__card-price-text">
                                                Цена
                                            </div>
                                            <div class="lots__card-price-amount">
                                                9 400 000 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="lots__card-details-link">
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="lots__list-item">
                            <div class="lots__card">
                                <div class="lots__card-image-block ">
                                    <div class="lots__card-image-slider js-lots-image-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lots__card-image-slider-pagination">

                                        </div>
                                    </div>

                                </div>
                                <div class="lots__card-main-content">
                                    <div class="lots__card-main-content-left-col">
                                        <div class="lots__card-tags">
                                            <div class="lots__card-tag">
                                                Бульдозер
                                            </div>
                                        </div>
                                        <h3 class="lots__card-heading">
                                            CATERPILLAR<br>
                                            D6HIILGP
                                        </h3>
                                        <div class="lots__card-details">
                                            <ul class="lots__card-details-list">
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Расположение:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Москва
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Год выпуска:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            1980
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Состояние:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Б/у <span class="lots__card-details-rating">
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="lots__card-main-content-right-col">
                                        <div class="lots__card-price">
                                            <div class="lots__card-price-text">
                                                Цена
                                            </div>
                                            <div class="lots__card-price-amount">
                                                3 560 000 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="lots__card-details-link">
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="lots__list-item">
                            <div class="lots__card">
                                <div class="lots__card-image-block ">
                                    <div class="lots__card-image-slider js-lots-image-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lots__card-image-slider-pagination">

                                        </div>
                                    </div>

                                </div>
                                <div class="lots__card-main-content">
                                    <div class="lots__card-main-content-left-col">
                                        <div class="lots__card-tags">
                                            <div class="lots__card-tag">
                                                Бульдозер
                                            </div>
                                        </div>
                                        <h3 class="lots__card-heading">
                                            CATERPILLAR - D5H LGP
                                        </h3>
                                        <div class="lots__card-details">
                                            <ul class="lots__card-details-list">
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Расположение:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Москва
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Год выпуска:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            1980
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Состояние:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Б/у <span class="lots__card-details-rating">
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="lots__card-main-content-right-col">
                                        <div class="lots__card-price">
                                            <div class="lots__card-price-text">
                                                Цена
                                            </div>
                                            <div class="lots__card-price-amount">
                                                9 400 000 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="lots__card-details-link">
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="lots__list-item">
                            <div class="lots__card">
                                <div class="lots__card-image-block ">
                                    <div class="lots__card-image-slider js-lots-image-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lots__card-image-slider-pagination">

                                        </div>
                                    </div>

                                </div>
                                <div class="lots__card-main-content">
                                    <div class="lots__card-main-content-left-col">
                                        <div class="lots__card-tags">
                                            <div class="lots__card-tag">
                                                Бульдозер
                                            </div>
                                        </div>
                                        <h3 class="lots__card-heading">
                                            CATERPILLAR<br>
                                            D6HIILGP
                                        </h3>
                                        <div class="lots__card-details">
                                            <ul class="lots__card-details-list">
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Расположение:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Москва
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Год выпуска:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            1980
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Состояние:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Б/у <span class="lots__card-details-rating">
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="lots__card-main-content-right-col">
                                        <div class="lots__card-price">
                                            <div class="lots__card-price-text">
                                                Цена
                                            </div>
                                            <div class="lots__card-price-amount">
                                                3 560 000 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="lots__card-details-link">
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="lots__list-item">
                            <div class="lots__card">
                                <div class="lots__card-image-block ">
                                    <div class="lots__card-image-slider js-lots-image-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lots__card-image-slider-pagination">

                                        </div>
                                    </div>

                                </div>
                                <div class="lots__card-main-content">
                                    <div class="lots__card-main-content-left-col">
                                        <div class="lots__card-tags">
                                            <div class="lots__card-tag">
                                                Бульдозер
                                            </div>
                                        </div>
                                        <h3 class="lots__card-heading">
                                            CATERPILLAR - D5H LGP
                                        </h3>
                                        <div class="lots__card-details">
                                            <ul class="lots__card-details-list">
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Расположение:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Москва
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Год выпуска:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            1980
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Состояние:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Б/у <span class="lots__card-details-rating">
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="lots__card-main-content-right-col">
                                        <div class="lots__card-price">
                                            <div class="lots__card-price-text">
                                                Цена
                                            </div>
                                            <div class="lots__card-price-amount">
                                                9 400 000 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="lots__card-details-link">
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="lots__list-item">
                            <div class="lots__card">
                                <div class="lots__card-image-block ">
                                    <div class="lots__card-image-slider js-lots-image-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/1.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="lots__card-image-container">
                                                        <img data-src="img/lots/2.jpg" alt=""
                                                            class="lots__card-image lazyload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lots__card-image-slider-pagination">

                                        </div>
                                    </div>

                                </div>
                                <div class="lots__card-main-content">
                                    <div class="lots__card-main-content-left-col">
                                        <div class="lots__card-tags">
                                            <div class="lots__card-tag">
                                                Бульдозер
                                            </div>
                                        </div>
                                        <h3 class="lots__card-heading">
                                            CATERPILLAR<br>
                                            D6HIILGP
                                        </h3>
                                        <div class="lots__card-details">
                                            <ul class="lots__card-details-list">
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Расположение:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Москва
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Год выпуска:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            1980
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="lots__card-details-list-item">
                                                    <div class="lots__card-details-card">
                                                        <div class="lots__card-details-card-key">
                                                            Состояние:
                                                        </div>
                                                        <div class="lots__card-details-card-value">
                                                            Б/у <span class="lots__card-details-rating">
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star icon-star--filled">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-star">
                                                                    <use xlink:href="#star" />
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="lots__card-main-content-right-col">
                                        <div class="lots__card-price">
                                            <div class="lots__card-price-text">
                                                Цена
                                            </div>
                                            <div class="lots__card-price-amount">
                                                3 560 000 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="lots__card-details-link">
                                            подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="pagination lots__pagination js-pagination-slider">
                    <div class="pagination__slider">
                        <div class="pagination__slider-wrapper">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link active">
                                            1
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link">
                                            2
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link">
                                            3
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link">
                                            4
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link">
                                            5
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link">
                                            6
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link">
                                            7
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="pagination__slider-link">
                                            8
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-arrows slider-arrows--dark">
                            <button class="slider-arrows__btn slider-arrows__btn--prev">
                                <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left" />
                                </svg>
                                <span class="slider-arrows__btn-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="12" stroke-linecap="round">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="12" stroke-dasharray="500" stroke-linecap="round">
                                        </circle>
                                    </svg>
                                </span>

                            </button>
                            <button class="slider-arrows__btn slider-arrows__btn--next">
                                <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right" />
                                </svg>
                                <span class="slider-arrows__btn-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="12" stroke-linecap="round">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="12" stroke-dasharray="500" stroke-linecap="round">
                                        </circle>
                                    </svg>
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>