<section class="management-system-description">
    <div class="container">
        <ul class="management-system-description__info-cards-list">
            <li class="management-system-description__info-cards-list-item">
                <div class="management-system-description__info-card">
                    <div class="management-system-description__info-card-left-col">
                        <h3 class="management-system-description__info-card-heading">
                            Взаимодействие процессов системы менеджмента ООО «СМУ-4» построено
                            с применением методологии PDCA
                            и имеет замкнутый цикл
                        </h3>
                        <div class="management-system-description__info-card-text">
                            <p>
                                C целью постоянного повышения качества собственной работы
                                в ООО «СМУ-4» внедрена и действует интегрированная система менеджмента разработанная в
                                соответствии с требованиями международных стандартов
                            </p>
                        </div>
                    </div>
                    <div class="management-system-description__info-card-right-col">
                        <img src="img/system-1.jpg" alt="" class="management-system-description__image">
                    </div>
                </div>

            </li>
            <li class="management-system-description__info-cards-list-item">
                <div
                    class="management-system-description__info-card management-system-description__info-card--inverted">
                    <div class="management-system-description__info-card-left-col">
                        <h3 class="management-system-description__info-card-heading">
                            Взаимодействие процессов системы менеджмента ООО «СМУ-4» построено
                            с применением методологии PDCA
                            и имеет замкнутый цикл
                        </h3>
                        <div class="management-system-description__info-card-text">
                            <p>
                                C целью постоянного повышения качества собственной работы
                                в ООО «СМУ-4» внедрена и действует интегрированная система менеджмента разработанная в
                                соответствии с требованиями международных стандартов
                            </p>
                            <p>
                                Для области действия «Строительство, ремонт магистральных нефтегазопродуктопроводов,
                                обустройство объектов инфраструктуры» международным сертификационным органом TUV NORD
                                CERT GmbH (Германия) выданы соответствующие сертификаты обустройство объектов
                                инфраструктуры» международным сертификационным органом TUV NORD CERT GmbH (Германия)
                                выданы соответствующие сертификаты рганом TUV NORD CERT GmbH (Германия) выданы
                                соответствующие сертификаты обустройство объектов инфраструктуры» международным
                                сертификационным органом TUV NORD CERT GmbH (Германия) выданы соответствующие
                                сертификаты
                            </p>
                        </div>
                    </div>
                    <div class="management-system-description__info-card-right-col">
                        <img src="img/system-2.jpg" alt="" class="management-system-description__image">
                    </div>
                </div>

            </li>
        </ul>
    </div>

    <div class="next-page">
        <div class="container">
            <a href="#" class="next-page__panel">
                <div class="next-page__bg">
                    <img data-src="img/next-page.jpg" alt="" class="next-page__bg-image lazyload">
                </div>
                <div class="next-page__panel-text">
                    Лицензии и сертификаты
                </div>
                <div class="next-page__panel-arrow">
                    <svg width="24" height="24" aria-hidden="true" class="icon-next-arrow">
                        <use xlink:href="#next-arrow" />
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>