<section class="management-system-intro">
    <div class="container">
        <div class="management-system-intro__content">
            <p>
                <em>C целью постоянного повышения качества собственной работы в ООО «СМУ-4»</em> внедрена и действует
                интегрированная система менеджмента разработанная
                в соответствии с требованиями международных стандартов
            </p>
            <p>
                Для области действия «Строительство, ремонт магистральных нефтегазопродуктопроводов, обустройство
                объектов инфраструктуры» международным сертификационным органом
                TUV NORD CERT GmbH (Германия) <em>выданы соответствующие сертификаты</em>
            </p>
        </div>
        <div class="management-system-intro__standards">
            <div class="management-system-intro__standard-card">
                <h4 class="management-system-intro__standard-card-title">
                    ISO 9001
                </h4>
                <div class="management-system-intro__standard-card-text">
                    Стандарт системы <br>
                    менеджмента качества
                </div>
            </div>
            <div class="management-system-intro__standard-card">
                <h4 class="management-system-intro__standard-card-title">
                    OHSAS 18001
                </h4>
                <div class="management-system-intro__standard-card-text">
                    Стандарт системы менеджмента<br> охраны здоровья и обеспечения<br> безопасности труда
                </div>
            </div>
            <div class="management-system-intro__standard-card">
                <h4 class="management-system-intro__standard-card-title">
                    ISO 14001
                </h4>
                <div class="management-system-intro__standard-card-text">
                    Стандарт систем экологического<br>
                    менеджмента
                </div>
            </div>
        </div>
    </div>
</section>