<section class="management">
    <div class="container">
        <div class="management__content">
            <ul class="management__cards-list">
                <li class="management__cards-list-item">
                    <a href="#team-modal" class="management__card js-modal-open">
                        <div class="management__card-image-container">
                            <img data-src="img/management/1.jpg" alt="" class="management__card-image lazyload">
                        </div>
                        <div class="management__card-content">
                            <h4 class="management__card-title">
                                Саруханов Александр Вячеславович
                            </h4>
                            <div class="management__card-role">
                                Генеральный директор
                            </div>
                        </div>
                    </a>
                </li>
                <li class="management__cards-list-item">
                    <a href="#team-modal" class="management__card js-modal-open">
                        <div class="management__card-image-container">
                            <img data-src="img/management/2.jpg" alt="" class="management__card-image lazyload">
                        </div>
                        <div class="management__card-content">
                            <h4 class="management__card-title">
                                Маннанов Фаиль
                                Рафаилович
                            </h4>
                            <div class="management__card-role">
                                Главный инженер – первый заместитель генерального директора
                            </div>
                        </div>
                    </a>
                </li>
                <li class="management__cards-list-item">
                    <a href="#team-modal" class="management__card js-modal-open">
                        <div class="management__card-image-container">
                            <img data-src="img/management/3.jpg" alt="" class="management__card-image lazyload">
                        </div>
                        <div class="management__card-content">
                            <h4 class="management__card-title">
                                Гуринчук Олег
                                Юрьевич
                            </h4>
                            <div class="management__card-role">
                                Начальник производственно
                                -технического управления
                            </div>
                        </div>
                    </a>
                </li>
                <li class="management__cards-list-item">
                    <a href="#team-modal" class="management__card js-modal-open">
                        <div class="management__card-image-container">
                            <img data-src="img/management/4.jpg" alt="" class="management__card-image lazyload">
                        </div>
                        <div class="management__card-content">
                            <h4 class="management__card-title">
                                Драненко Константин
                                Валериевич
                            </h4>
                            <div class="management__card-role">
                                Начальник управления
                                планирования и развития бизнеса
                            </div>
                        </div>
                    </a>
                </li>
                <li class="management__cards-list-item">
                    <a href="#team-modal" class="management__card js-modal-open">
                        <div class="management__card-image-container">
                            <img data-src="img/management/5.jpg" alt="" class="management__card-image lazyload">
                        </div>
                        <div class="management__card-content">
                            <h4 class="management__card-title">
                                Ахмадуллина
                                Альбина Хасановна
                            </h4>
                            <div class="management__card-role">
                                Главный бухгалтер
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>