<section class="news js-news-slider">
    <div class="container">
        <div class="news__top-row">
            <h2 class="section-heading news__heading">
                Новости
            </h2>
            <a href="#" class="btn news__all-link">
                <span class="btn__inner-content">

                    Все новости
                </span>

            </a>
        </div>
        <div class="news__slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-bg">
                                <img data-src="img/services/1.jpg" alt="" class="news__slider-card-bg-image lazyload">
                            </div>
                            <div class="news__slider-card-date">
                                12 декабря 2019
                            </div>
                            <h4 class="news__slider-card-title">
                                Компания прошла проверку
                                на соответствие требованиям ПАО «Газпром»
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-bg">
                                <img data-src="img/services/2.jpg" alt="" class="news__slider-card-bg-image lazyload">
                            </div>
                            <div class="news__slider-card-date">
                                8 ноября 2019
                            </div>
                            <h4 class="news__slider-card-title">
                                Закончился первый этап реконструкиции «Силы Сибири»
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-bg">
                                <img data-src="img/services/3.jpg" alt="" class="news__slider-card-bg-image lazyload">
                            </div>
                            <div class="news__slider-card-date">
                                31 октября 2019
                            </div>
                            <h4 class="news__slider-card-title">
                                СМУ-4 выиграла торги в крупнейшем тендере АО «Лукойл: Западная Сибирь» выиграла торги...
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-bg">
                                <img data-src="img/services/1.jpg" alt="" class="news__slider-card-bg-image lazyload">
                            </div>
                            <div class="news__slider-card-date">
                                12 декабря 2019
                            </div>
                            <h4 class="news__slider-card-title">
                                Компания прошла проверку
                                на соответствие требованиям ПАО «Газпром»
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-bg">
                                <img data-src="img/services/2.jpg" alt="" class="news__slider-card-bg-image lazyload">
                            </div>
                            <div class="news__slider-card-date">
                                8 ноября 2019
                            </div>
                            <h4 class="news__slider-card-title">
                                Закончился первый этап реконструкиции «Силы Сибири»
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-bg">
                                <img data-src="img/services/3.jpg" alt="" class="news__slider-card-bg-image lazyload">
                            </div>
                            <div class="news__slider-card-date">
                                31 октября 2019
                            </div>
                            <h4 class="news__slider-card-title">
                                СМУ-4 выиграла торги в крупнейшем тендере АО «Лукойл: Западная Сибирь» выиграла торги...
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="news__mobile-pagination">
                
            </div>
        </div>
        <div class="slider-arrows slider-arrows--dark news__slider-arrows">
            <button class="slider-arrows__btn slider-arrows__btn--prev">
                <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                    <use xlink:href="#slider-arrow-left" />
                </svg>
                <span class="slider-arrows__btn-progress">
                    <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                            stroke-width="12" stroke-linecap="round">
                        </circle>
                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                            stroke-dasharray="500" stroke-linecap="round">
                        </circle>
                    </svg>
                </span>

            </button>
            <button class="slider-arrows__btn slider-arrows__btn--next">
                <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                    <use xlink:href="#slider-arrow-right" />
                </svg>
                <span class="slider-arrows__btn-progress">
                    <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                            stroke-width="12" stroke-linecap="round">
                        </circle>
                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                            stroke-dasharray="500" stroke-linecap="round">
                        </circle>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</section>