<section class="news">
    <div class="container">
        <div class="news__top-row">
            <h2 class="section-heading news__heading">
                Новости
            </h2>
             <a href="#" class="btn news__all-link">
                <span class="btn__inner-content">

                    Все новости
                </span>

            </a>
        </div>
    </div>
</section>