<section class="numbers js-numbers">
    <div class="container">
        <div class="numbers__top-row">
            <h2 class="section-heading numbers__heading">
                Цифры и факты
            </h2>
            <a href="#" class="btn numbers__about-company-link">
                <span class="btn__inner-content">

                    Подробнее о компании
                </span>

            </a>
        </div>
        <div class="numbers__bottom-row">
            <div class="numbers__bottom-left-col">
                <div class="numbers__numbers-and-facts-slider">
                    <div class="numbers__numbers-and-facts-slider-pagination">
                        
                    </div>
                    <div class="swiper-container numbers__numbers-and-facts-slider-container">
                        <div class="swiper-wrapper numbers__numbers-and-facts-slider-wrapper">
                            <div class="swiper-slide numbers__numbers-and-facts-slider-slide">
                                <div class="numbers__numbers-and-facts-slider-card">
                                    <div class="numbers__numbers-and-facts-slider-card-digits">
                                        619
                                    </div>
                                    <div class="numbers__numbers-and-facts-slider-card-words">
                                        <em>единиц техники</em><br> в собственности
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide numbers__numbers-and-facts-slider-slide">
                                <div class="numbers__numbers-and-facts-slider-card">
                                    <div class="numbers__numbers-and-facts-slider-card-digits">
                                        431
                                    </div>
                                    <div class="numbers__numbers-and-facts-slider-card-words">
                                        <em>сотрудников</em><br> в штате
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide numbers__numbers-and-facts-slider-slide">
                                <div class="numbers__numbers-and-facts-slider-card">
                                    <div class="numbers__numbers-and-facts-slider-card-digits">
                                        500
                                    </div>
                                    <div class="numbers__numbers-and-facts-slider-card-words">
                                        <em>единиц</em><br> оборудования
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="numbers__bottom-right-col">
                <div class="numbers__standards">
                    <h3 class="numbers__standards-heading">
                        Немецкие стандарты качества
                    </h3>
                    <ul class="numbers__standards-list">
                        <li class="numbers__standards-list-item">
                            <div class="numbers__standards-card">
                                <img src="img/fact-icon.svg" alt="" class="numbers__standards-card-icon" width="22"
                                    height="22">
                                <h4 class="numbers__standards-card-title">
                                    TUV&nbsp;nord
                                </h4>
                                <div class="numbers__standards-card-text">
                                    ISO&nbsp;9001:2015
                                </div>
                            </div>
                        </li>
                        <li class="numbers__standards-list-item">
                            <div class="numbers__standards-card">
                                <img src="img/fact-icon.svg" alt="" class="numbers__standards-card-icon" width="22"
                                    height="22">
                                <h4 class="numbers__standards-card-title">
                                    TUV&nbsp;nord
                                </h4>
                                <div class="numbers__standards-card-text">
                                    BS&nbsp;OHSAS&shy;18001:2007
                                </div>
                            </div>
                        </li>
                        <li class="numbers__standards-list-item">
                            <div class="numbers__standards-card">
                                <img src="img/fact-icon.svg" alt="" class="numbers__standards-card-icon" width="22"
                                    height="22">
                                <h4 class="numbers__standards-card-title">
                                    TUV nord
                                </h4>
                                <div class="numbers__standards-card-text">
                                    ISO&nbsp;90ISO&shy;14001:200901:2015
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>