<section class="realised-projects js-realised-projects">
    <div class="container">
        <div class="realised-projects__slider">
            <div class="realised-projects__slider-left-col">
                <div class="realised-projects__slider-info">
                    <h2 class="section-heading realised-projects__heading">
                        Реализованные<br> проекты
                    </h2>
                    <div class="realised-projects__text">
                        <p>
                            Выполняем работы на крупнейших
                            месторождениях для ведущих недропользователей
                        </p>
                    </div>
                    <div class="realised-projects__slider-controls">
                        <div class="slider-fraction-pagination realised-projects__slider-pagination">
                            {{!-- <span class="slider-fraction-pagination__current">
                                01
                            </span>
                            <span class="slider-fraction-pagination__divider">

                            </span>
                            <span class="slider-fraction-pagination__total">
                                24
                            </span> --}}
                        </div>
                        <div class="slider-arrows">
                            <button class="slider-arrows__btn slider-arrows__btn--prev">
                                <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left" />
                                </svg>
                                <span class="slider-arrows__btn-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="12">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="12" stroke-dasharray="500">
                                        </circle>
                                    </svg>
                                </span>

                            </button>
                            <button class="slider-arrows__btn slider-arrows__btn--next">
                                <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right" />
                                </svg>
                                <span class="slider-arrows__btn-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="12">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="12" stroke-dasharray="500">
                                        </circle>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <a href="#" class="realised-projects__show-all-link">
                    Все проекты
                </a>
            </div>
            <div class="realised-projects__slider-right-col">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__card">
                                <div class="realised-projects__card-bg">
                                    <img src="img/realised-projects/1.jpg" alt=""
                                        class="realised-projects__card-bg-image">
                                </div>
                                <div class="realised-projects__card-content">
                                    <div class="realised-projects__card-date">
                                        2020-2030
                                    </div>
                                    <div class="realised-projects__card-category">
                                        Нефтегазопроводы
                                    </div>
                                    <div class="realised-projects__card-digits">
                                        <strong>235</strong>км<br>
                                        проложенного трубопровода
                                    </div>
                                </div>

                                <h3 class="realised-projects__card-title">
                                    Строительство объектов Тэдинского и Пашшорского нефтяных месторождений
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__card">
                                <div class="realised-projects__card-bg">
                                    <img src="img/realised-projects/2.jpg" alt=""
                                        class="realised-projects__card-bg-image">
                                </div>
                                <div class="realised-projects__card-content">
                                    <div class="realised-projects__card-date">
                                        2020-2030
                                    </div>
                                    <div class="realised-projects__card-category">
                                        Нефтегазопроводы
                                    </div>
                                    <div class="realised-projects__card-digits">
                                        <strong>21000</strong><br>
                                        куб.м земли
                                    </div>
                                </div>

                                <h3 class="realised-projects__card-title">
                                    Реконструкция напорного нефтепровода от ДНС "Пашшор" до ЦПС "Южно-Шапкинское"
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__card">
                                <div class="realised-projects__card-bg">
                                    <img src="img/realised-projects/3.jpg" alt=""
                                        class="realised-projects__card-bg-image">
                                </div>
                                <div class="realised-projects__card-content">
                                    <div class="realised-projects__card-date">
                                        2020-2030
                                    </div>
                                    <div class="realised-projects__card-category">
                                        Нефтегазопроводы
                                    </div>
                                    <div class="realised-projects__card-digits">
                                        <strong>194</strong><br>
                                        задействованных специалиста
                                    </div>
                                </div>

                                <h3 class="realised-projects__card-title">
                                    Строительство и реконструкция трубопроводов на месторождениях ТПП
                                    "ЛУКОЙЛ-Усинскнефтегаз"
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__card">
                                <div class="realised-projects__card-bg">
                                    <img src="img/realised-projects/1.jpg" alt=""
                                        class="realised-projects__card-bg-image">
                                </div>
                                <div class="realised-projects__card-content">
                                    <div class="realised-projects__card-date">
                                        2020-2030
                                    </div>
                                    <div class="realised-projects__card-category">
                                        Нефтегазопроводы
                                    </div>
                                    <div class="realised-projects__card-digits">
                                        <strong>235</strong>км<br>
                                        проложенного трубопровода
                                    </div>
                                </div>

                                <h3 class="realised-projects__card-title">
                                    Строительство объектов Тэдинского и Пашшорского нефтяных месторождений
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__card">
                                <div class="realised-projects__card-bg">
                                    <img src="img/realised-projects/2.jpg" alt=""
                                        class="realised-projects__card-bg-image">
                                </div>
                                <div class="realised-projects__card-content">
                                    <div class="realised-projects__card-date">
                                        2020-2030
                                    </div>
                                    <div class="realised-projects__card-category">
                                        Нефтегазопроводы
                                    </div>
                                    <div class="realised-projects__card-digits">
                                        <strong>21000</strong><br>
                                        куб.м земли
                                    </div>
                                </div>

                                <h3 class="realised-projects__card-title">
                                    Реконструкция напорного нефтепровода от ДНС "Пашшор" до ЦПС "Южно-Шапкинское"
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__card">
                                <div class="realised-projects__card-bg">
                                    <img src="img/realised-projects/3.jpg" alt=""
                                        class="realised-projects__card-bg-image">
                                </div>
                                <div class="realised-projects__card-content">
                                    <div class="realised-projects__card-date">
                                        2020-2030
                                    </div>
                                    <div class="realised-projects__card-category">
                                        Нефтегазопроводы
                                    </div>
                                    <div class="realised-projects__card-digits">
                                        <strong>194</strong><br>
                                        задействованных специалиста
                                    </div>
                                </div>

                                <h3 class="realised-projects__card-title">
                                    Строительство и реконструкция трубопроводов на месторождениях ТПП
                                    "ЛУКОЙЛ-Усинскнефтегаз"
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>