<section class="reviews">
    <div class="container">
        <div class="reviews__top-row">
            <h2 class="section-heading reviews__heading">
                Отзывы заказчиков
            </h2>
            <a href="#" class="btn reviews__link">
                <span class="btn__inner-content">
                    все отзывы
                </span>
            </a>
        </div>
        <div class="reviews__slider js-reviews-slider">
            <div class="reviews__slider-left-col">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-logo-wrapper">
                                    <img src="img/contractors/lukoil.png" alt="" class="reviews__slider-card-logo"
                                        width="244">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <div class="reviews__slider-card-quote">
                                        Весь комплекс работ был выполнен
                                        с надлежащим качеством и в полном объеме. Сотрудники зарекомендовали себя...
                                    </div>
                                    <a href="#" class="reviews__slider-card-read-more">
                                        Читать полностью
                                    </a>
                                    <div class="reviews__slider-card-author">
                                        <div class="reviews__slider-card-author-name">
                                            Г. М. Иванов
                                        </div>
                                        <div class="reviews__slider-card-author-role">
                                            Начальник сосновского ЛПУ МГ<br>
                                            ОАО «Газпром»
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-logo-wrapper">
                                    <img src="img/gazprom.svg" alt="" class="reviews__slider-card-logo" width="244">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <div class="reviews__slider-card-quote">
                                        Весь комплекс работ был выполнен
                                        с надлежащим качеством и в полном объеме. Сотрудники зарекомендовали себя...
                                    </div>
                                    <a href="#" class="reviews__slider-card-read-more">
                                        Читать полностью
                                    </a>
                                    <div class="reviews__slider-card-author">
                                        <div class="reviews__slider-card-author-name">
                                            Г. М. Родионов
                                        </div>
                                        <div class="reviews__slider-card-author-role">
                                            Начальник сосновского ЛПУ МГ<br>
                                            ОАО «Газпром»
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-logo-wrapper">
                                    <img src="img/contractors/transneft.png" alt="" class="reviews__slider-card-logo"
                                        width="244">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <div class="reviews__slider-card-quote">
                                        Третья цитата
                                    </div>
                                    <a href="#" class="reviews__slider-card-read-more">
                                        Читать полностью
                                    </a>
                                    <div class="reviews__slider-card-author">
                                        <div class="reviews__slider-card-author-name">
                                            Г. М. Родионов
                                        </div>
                                        <div class="reviews__slider-card-author-role">
                                            Начальник сосновского ЛПУ МГ<br>
                                            ОАО «Газпром»
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-logo-wrapper">
                                    <img src="img/contractors/novatek.png" alt="" class="reviews__slider-card-logo"
                                        width="244">
                                </div>
                                <div class="reviews__slider-card-content">
                                    <div class="reviews__slider-card-quote">
                                        Четвертая цитата
                                    </div>
                                    <a href="#" class="reviews__slider-card-read-more">
                                        Читать полностью
                                    </a>
                                    <div class="reviews__slider-card-author">
                                        <div class="reviews__slider-card-author-name">
                                            Г. М. Родионов
                                        </div>
                                        <div class="reviews__slider-card-author-role">
                                            Начальник сосновского ЛПУ МГ<br>
                                            ОАО «Газпром»
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__slider-right-col">
                <div class="reviews__slider-thumbs">
                    <ul class="reviews__slider-thumbs-list">
                        <li class="reviews__slider-thumbs-list-item">
                            <a href="#" class="reviews__slider-thumbs-card">
                                <img src="img/reviews-thumbs/lukoil.png" alt=""
                                    class="reviews__slider-thumbs-card-image" width="24">

                                <span class="reviews__slider-thumbs-card-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="8" stroke-dasharray="500" stroke-linecap="round">
                                        </circle>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="reviews__slider-thumbs-list-item">
                            <a href="#" class="reviews__slider-thumbs-card">
                                <img src="img/reviews-thumbs/gazprom.svg" alt=""
                                    class="reviews__slider-thumbs-card-image" width="21">

                                <span class="reviews__slider-thumbs-card-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="8" stroke-dasharray="500" stroke-linecap="round">
                                        </circle>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="reviews__slider-thumbs-list-item">
                            <a href="#" class="reviews__slider-thumbs-card">
                                <img src="img/reviews-thumbs/transneft.png" alt=""
                                    class="reviews__slider-thumbs-card-image" width="27">

                                <span class="reviews__slider-thumbs-card-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="8" stroke-dasharray="500" stroke-linecap="round">
                                        </circle>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="reviews__slider-thumbs-list-item">
                            <a href="#" class="reviews__slider-thumbs-card">
                                <img src="img/reviews-thumbs/nova.png" alt="" class="reviews__slider-thumbs-card-image"
                                    width="28">

                                <span class="reviews__slider-thumbs-card-progress">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                        </circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="8" stroke-dasharray="500" stroke-linecap="round">
                                        </circle>
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="slider-arrows slider-arrows--dark reviews__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>

                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
</section>