<section class="same-category-services">
    <div class="container">
        <h2 class="section-heading same-category-services__heading">
            Услуги в этом направлении
        </h2>
        <div class="same-category-services__content">
            <ul class="same-category-services__list">
                <li class="same-category-services__list-item">
                    <a href="#" class="same-category-services__card">
                        <div class="same-category-services__card-bottom-row">
                            <div class="same-category-services__card-image-container">
                                <img src="img/same-services/1.jpg" alt="" class="same-category-services__card-image">
                            </div>
                            <h3 class="same-category-services__card-title">
                                Строительство<br> нефтегазо-промысловых<br>
                                объектов
                            </h3>
                            <div class="same-category-services__card-plus">
                                <svg width="20" height="20" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="same-category-services__list-item">
                    <a href="#" class="same-category-services__card">
                        <div class="same-category-services__card-bottom-row">
                            <div class="same-category-services__card-image-container">
                                <img src="img/same-services/2.jpg" alt="" class="same-category-services__card-image">
                            </div>
                            <h3 class="same-category-services__card-title">
                                Сооружение и ремонт<br> нефтегазопроводов
                            </h3>
                            <div class="same-category-services__card-plus">
                                <svg width="20" height="20" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="same-category-services__list-item">
                    <a href="#" class="same-category-services__card">
                        <div class="same-category-services__card-bottom-row">
                            <div class="same-category-services__card-image-container">
                                <img src="img/same-services/3.jpg" alt="" class="same-category-services__card-image">
                            </div>
                            <h3 class="same-category-services__card-title">
                                Сооружение и ремонт<br> нефтегазопроводов
                            </h3>
                            <div class="same-category-services__card-plus">
                                <svg width="20" height="20" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="same-category-services__list-item">
                    <a href="#" class="same-category-services__card">
                        <div class="same-category-services__card-bottom-row">
                            <div class="same-category-services__card-image-container">
                                <img src="img/same-services/4.jpg" alt="" class="same-category-services__card-image">
                            </div>
                            <h3 class="same-category-services__card-title">
                                Строительство<br> нефтегазо-промысловых<br>
                                объектов
                            </h3>
                            <div class="same-category-services__card-plus">
                                <svg width="20" height="20" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>