<section class="send-request">
    <div class="container">
        <div class="send-request__panel">
            <h2 class="send-request__heading">
                Оставьте заявку для начала сотрудничества
            </h2>
            <a href="#to-contact-us" class="btn send-request__link">
                <span class="btn__inner-content">

                    связаться с нами
                </span>

            </a>
        </div>
    </div>
</section>