<section class="services js-services">
    <div class="container">
        <div class="services__top-row">
            <div class="services__top-row-col">
                <h2 class="section-heading">
                    Направления<br> деятельности
                </h2>
            </div>
            <div class="services__top-row-col">
                <div class="services__presentation-row">
                    <div class="services__presentation-text">
                        Осуществляем любые виды работ на всех этапах, помогая клиентам оптимизировать затраты
                    </div>

                    <a href="#" class="btn services__presentation-btn" download="">
                        <span class="btn__inner-content">
                            <svg width="12" height="12" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download" />
                            </svg>
                            Скачать презентацию
                        </span>

                    </a>
                </div>
            </div>

        </div>
        <div class="services__content">
            <div class="services__base-image-wrapper" ie-style="--overlay-opacity: 0.2;"
                style="--overlay-opacity: 0.2;">
                <img data-src="img/services/base.jpg" alt="" class="services__base-image lazyload">
            </div>

            <ul class="services__list">
                <li class="services__list-item">
                    <a href="#" class="services__card js-services-card">
                        <h3 class="services__card-title">
                            Строительство и реконструкция объектов подготовки, транспортировки и переработки нефти и
                            газа
                        </h3>
                        <div class="services__card-pluses">
                            <div class="services__card-plus-idle">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                            <div class="services__card-plus-active">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-image-wrapper">
                            <img data-src="img/services/1.jpg" alt="" class="services__card-image lazyload">
                        </div>

                    </a>
                </li>
                <li class="services__list-item">
                    <a href="#" class="services__card js-services-card">
                        <h3 class="services__card-title">
                            Монтаж оборудования сооружений металлоконструкций и трубопроводов
                            на объектах
                        </h3>
                        <div class="services__card-pluses">
                            <div class="services__card-plus-idle">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                            <div class="services__card-plus-active">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-image-wrapper" ie-style="--overlay-opacity: 0.34;"
                            style="--overlay-opacity: 0.34;">
                            <img data-src="img/services/2.jpg" alt="" class="services__card-image lazyload">
                        </div>

                    </a>
                </li>
                <li class="services__list-item">
                    <a href="#" class="services__card js-services-card">
                        <h3 class="services__card-title">
                            Капитальное строительство, ремонт и реконструкция объектов трубопроводного транспорта,
                            нефтегазопромысловых объектов и объектов инфраструктуры
                        </h3>
                        <div class="services__card-pluses">
                            <div class="services__card-plus-idle">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                            <div class="services__card-plus-active">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-image-wrapper" ie-style="--overlay-opacity: 0.4;"
                            style="--overlay-opacity: 0.4;">
                            <img data-src="img/services/3.jpg" alt="" class="services__card-image lazyload">
                        </div>

                    </a>
                </li>
                <li class="services__list-item">
                    <a href="#" class="services__card js-services-card">
                        <h3 class="services__card-title">
                            Другие направления
                            деятельности
                        </h3>
                        <div class="services__card-pluses">
                            <div class="services__card-plus-idle">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                            <div class="services__card-plus-active">
                                <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus" />
                                </svg>
                            </div>
                        </div>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>