<section class="working-from">
    <div class="container">
        <div class="working-from__row">
            <div class="working-from__left-col">
                <div class="working-from__intro-text">
                    Мы работаем для вас
                </div>
                <div class="working-from__year">
                    c
                    <span class="working-from__year-numbers">
                        19<span class="working-from__year-numbers-contour">97</span>
                    </span>
                </div>
            </div>
            <div class="working-from__right-col">
                <ul class="working-from__features-list">
                    <li class="working-from__features-list-item">
                        <div class="working-from__features-card">
                            <img src="img/direction/1.svg" alt="" class="working-from__features-card-image" width="88">
                            <div class="working-from__features-card-content">
                                <em>Полный комплекс работ</em> по монтажу площадочных сооружений и промысловых
                                трубопроводов всех назначений, монтаж нефтегазопромыслового оборудования
                            </div>
                        </div>
                    </li>
                    <li class="working-from__features-list-item">
                        <div class="working-from__features-card">
                            <img src="img/direction/2.svg" alt="" class="working-from__features-card-image" width="88">
                            <div class="working-from__features-card-content">
                                <em>Строительство объектов</em> нефтяного и газового хозяйства
                            </div>
                        </div>
                    </li>
                    <li class="working-from__features-list-item">
                        <div class="working-from__features-card">
                            <img src="img/direction/3.svg" alt="" class="working-from__features-card-image" width="88">
                            <div class="working-from__features-card-content">
                                <em>
                                    Проведение контроля оборудования
                                    и материалов </em>неразрушающими методами при строительстве, монтаже, ремонте,
                                реконструкции объектов
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>