{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro page-intro--high">
    <div class="page-intro__bg">
        <img src="img/career-bg.jpg" alt="" class="page-intro__bg-image">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Вакансии
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            Работа в СМУ-4
                        </h1>
                        <div class="page-intro__text">
                            <p>
                                Профессионализм, интересные проекты, достойная заработная плата и уверенность в
                                завтрашнем дне
                            </p>
                        </div>
                    </div>
                    <div class="page-intro__right-col">
                        <ul class="page-intro__features-list">
                            <li class="page-intro__features-list-item">
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-small-text">
                                            в штате
                                        </div>
                                    </div>
                                </div>
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-large-text">
                                            431 сотрудник
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="page-intro__features-list-item">
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-small-text">
                                            открыто прямо сейчас
                                        </div>
                                    </div>
                                </div>
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-large-text">
                                            7 вакансий
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{> efforts }}
{{> join }}

{{/content}}
{{/extend}}