{{#extend "layout"}}
{{#content "main"}}

<section class="contacts">
    <div class="contacts__intro">
        <div class="container">
            <div class="page-intro__breadcrumbs contacts__breadcrumbs">
                <a href="#" class="page-intro__breadcrumbs-link">
                    Главная
                </a>
                <span class="page-intro__breadcrumbs-divider">

                </span>

                <a href="#" class="page-intro__breadcrumbs-link active">
                    Контакты
                </a>
            </div>
            <div class="contacts__intro-row">
                <div class="contacts__intro-left-col">
                    <h2 class="contacts__intro-heading">
                        Свяжитесь с нами любым
                        удобным способом
                    </h2>
                    <a href="#" class="btn btn--large contacts__intro-apply-link">
                        <span class="btn__inner-content">

                            оставить заявку
                        </span>

                    </a>
                </div>
                <div class="contacts__intro-right-col">
                    <a href="tel:+73472538978" class="contacts__intro-phone-link">+7 347 253-89-78</a>
                    <div class="contacts__intro-info">
                        <a href="mailto:smu_4@ufanet.ru" class="contacts__intro-email-link">
                            smu_4@ufanet.ru
                        </a>
                        <ul class="contacts__intro-social-list">
                            <li class="contacts__intro-social-list-item">
                                <a href="#" class="contacts__intro-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram" />
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts__intro-social-list-item">
                                <a href="#" class="contacts__intro-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fb">
                                        <use xlink:href="#fb" />
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts__intro-social-list-item">
                                <a href="#" class="contacts__intro-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                        <use xlink:href="#telegram" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts__map">
        <div class="container">
            <div class="contacts__map-container">
                <div class="contacts__map-element js-contacts-map" data-lat="54.743079" data-lng="55.997211"
                    data-pin="img/pin.svg">

                </div>
            </div>
        </div>
    </div>
    <div class="contacts__general-contacts">
        <div class="container">
            <div class="contacts__general-contacts-row">
                <div class="contacts__general-contacts-left-col">
                    <h2 class="section-heading contacts__general-contacts-heading">
                        Общие контакты
                    </h2>
                    <div class="contacts__general-contacts-text">
                        Мы всегда открыты для сотрудничества и рады новым интересным проектам
                    </div>
                </div>
                <div class="contacts__general-contacts-right-col">
                    <div class="contacts__general-contacts-divisions">
                        <h3 class="contacts__general-contacts-inner-heading">
                            Отделы
                        </h3>
                        <div class="contacts__general-contacts-divisions-info">
                            <ul class="contacts__general-contacts-divisions-info-list">
                                <li class="contacts__general-contacts-divisions-info-list-item">
                                    <div class="contacts__general-contacts-divisions-info-card">
                                        <div class="contacts__general-contacts-divisions-info-card-key">
                                            Отдел кадров
                                        </div>
                                        <a href="tel:+73472530499"
                                            class="contacts__general-contacts-divisions-info-card-value">
                                            +7 347 253-04-99
                                        </a>
                                    </div>
                                </li>
                                <li class="contacts__general-contacts-divisions-info-list-item">
                                    <div class="contacts__general-contacts-divisions-info-card">
                                        <div class="contacts__general-contacts-divisions-info-card-key">
                                            Юридический отдел
                                        </div>
                                        <a href="tel:+73472537467"
                                            class="contacts__general-contacts-divisions-info-card-value">
                                            +7 347 253-74-67
                                        </a>
                                    </div>
                                </li>
                                <li class="contacts__general-contacts-divisions-info-list-item">
                                    <div class="contacts__general-contacts-divisions-info-card">
                                        <div class="contacts__general-contacts-divisions-info-card-key">
                                            Расчетный отдел
                                        </div>
                                        <a href="tel:+73472534538"
                                            class="contacts__general-contacts-divisions-info-card-value">
                                            +7 347 253-45-38
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contacts__general-contacts-addresses">
                        <ul class="contacts__general-contacts-addresses-list">
                            <li class="contacts__general-contacts-addresses-list-item">
                                <div class="contacts__general-contacts-addresses-card">
                                    <h3 class="contacts__general-contacts-inner-heading">
                                        Юридический адрес
                                    </h3>
                                    <div class="contacts__general-contacts-addresses-card-text">
                                        <p>
                                            7 34667 2-30-68
                                        </p>
                                        <p>
                                            г. Когалым, ул. Мира, 14–155, 628485,
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__general-contacts-addresses-list-item">
                                <div class="contacts__general-contacts-addresses-card">
                                    <h3 class="contacts__general-contacts-inner-heading">
                                        Фактический адрес
                                    </h3>
                                    <div class="contacts__general-contacts-addresses-card-text">
                                        <p>
                                            г. Уфа, ул. Комсомольская, 18,<br> 450097 
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}