{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro page-intro--high">
    <div class="page-intro__bg">
        <img data-src="img/direction-bg.jpg" alt="" class="page-intro__bg-image lazyload">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Решения и услуги
                            </a>
                        </div>
                        <h1 class="page-intro__heading page-intro__heading--small-on-mobile">
                            Капитальное строительство, ремонт
                            и реконструкция объектов трубопроводного транспорта, нефтегазопромысловых объектов и
                            объектов инфраструктуры
                        </h1>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{{> working-from }}
{{> direction-article }}
{{> send-request }}
{{> same-category-services }}
{{> direction-gallery }}
{{> realised-projects }}
{{> reviews }}

{{/content}}
{{/extend}}