{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro">
    <div class="page-intro__bg">
        <img data-src="img/directions-bg.jpg" alt="" class="page-intro__bg-image lazyload">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Решения и услуги
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            Все направления деятельности
                        </h1>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="directions">
    <div class="container">
        <div class="directions__intro">
            <div class="directions__intro-left-col">
                <div class="directions__intro-years">
                    <span class="directions__intro-years-amount">
                        30
                    </span>
                    лет
                </div>
                <div class="directions__intro-years-text">
                    мы работаем для вас!
                </div>
            </div>
            <div class="directions__intro-right-col">
                <div class="directions__intro-leading-text">
                    <p>
                        За время работы на рынке трубопроводного строительства и ремонта компания зарекомендовала себя,
                        как надежный партнер, выполняющий задания Заказчиков качественно
                        и в срок.
                    </p>
                </div>
                <div class="directions__intro-secondary-text">
                    <p>
                        Компетентность персонала, нацеленность на постоянное совершенствование и достижение поставленных
                        целей, постоянная работа с кадрами по обучению и повышению квалификации, позволяют поддерживать
                        высокий уровень ответственности
                        за качество выполняемых работ.
                    </p>
                </div>
            </div>
        </div>
        <ul class="directions__list">
            <li class="directions__list-item">
                <a href="#" class="directions__card">
                    <div class="directions__card-bg">
                        <img src="img/services/1.jpg" alt="" class="directions__card-bg-image">
                    </div>
                    <h3 class="directions__card-title">
                        Строительство и реконструкция объектов подготовки, транспортировки и переработки нефти и газа
                    </h3>
                    <div class="directions__plus">
                        <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus" />
                        </svg>

                    </div>
                </a>
            </li>
            <li class="directions__list-item">
                <a href="#" class="directions__card">
                    <div class="directions__card-bg">
                        <img src="img/services/2.jpg" alt="" class="directions__card-bg-image">
                    </div>
                    <h3 class="directions__card-title">
                        Монтаж оборудования сооружений металлоконструкций и трубопроводов
                        на объектах
                    </h3>
                    <div class="directions__plus">
                        <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus" />
                        </svg>

                    </div>
                </a>
            </li>
            <li class="directions__list-item">
                <a href="#" class="directions__card">
                    <div class="directions__card-bg" style="--bg-overlay-opacity: 0.3" ie-style="--bg-overlay-opacity: 0.3">
                        <img src="img/services/3.jpg" alt="" class="directions__card-bg-image">
                    </div>
                    <h3 class="directions__card-title">
                        Капитальное строительство, ремонт и реконструкция объектов трубопроводного транспорта,
                        нефтегазопромысловых объектов
                        и объектов инфраструктуры
                    </h3>
                    <div class="directions__plus">
                        <svg width="34" height="34" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus" />
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

{{/content}}
{{/extend}}