{{#extend "layout"}}
{{#content "main"}}

<section class="error">
    <img src="img/404.jpg" alt="" class="error__image">
    <div class="container">
        <div class="error__content">
            <div class="error__large-text">
                ой… Мы не можем найти эту страницу!
            </div>
            <div class="error__small-text">
                Пожалуйста, вернитесь на предыдущую страницу или воспользуйтесь меню сайта.
            </div>
            <a href="#" class="btn btn--large error__back-link">
                <span class="btn__inner-content">

                    вернуться на главную
                </span>

            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}