{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro">
    <div class="page-intro__bg">
        <img data-src="img/history-bg.jpg" alt="" class="page-intro__bg-image lazyload">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link">
                                О компании
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                История и миссия
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            История и миссия
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mission">
    <div class="container">
        <div class="mission__row">
            <div class="mission__left-col">
                <div class="mission__intro">
                    <em>Миссия ООО «СМУ-4» заключается в удовлетворении потребностей заказчиков</em> в комплексной
                    реализации
                    проектов строительства, ремонта и реконструкции объектов нефтегазовой отрасли
                    с применением передовых технологий, отвечающих современным экологическим стандартам и в обеспечении
                    акционеров компании справедливыми доходами, а также отражает устремления акционеров развивать
                    крупный, конкурентоспособный диверсифицированный бизнес
                    в области нефтегазового строительства, приносящий ценность обществу.
                </div>
            </div>
            <div class="mission__right-col">
                <ul class="mission__achievements">
                    <li class="mission__achievements-item">
                        <div class="mission__achievements-item-key">
                            7500 Км
                        </div>
                        <div class="mission__achievements-item-value">
                            построенных<br> трубопроводов
                        </div>
                    </li>
                    <li class="mission__achievements-item">
                        <div class="mission__achievements-item-key">
                            с 1992 года
                        </div>
                        <div class="mission__achievements-item-value">
                            в нефте-газовой<br> отрасли
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="history js-history">
    <div class="history__bg">
        <div class="history__bg-layer history__bg-layer--base" data-base-layer="">

        </div>
        <div class="history__bg-layer" data-bg-layer="blue">

        </div>
        <div class="history__bg-layer active" data-bg-layer="blue-with-photo">
            <img data-src="img/history-bg-layer.jpg" alt="" class="history__bg-layer-image lazyload">
        </div>
    </div>
    <div class="container">
        <div class="history__row">
            <div class="history__left-col">
                <div class="history__years">
                    <div class="history__years-inner">

                        <a href="#" class="history__years-link">
                            1990
                        </a>
                        <a href="#" class="history__years-link" data-bg-layer="blue">
                            1991
                        </a>
                        <a href="#" class="history__years-link" data-bg-layer="blue-with-photo">
                            1995
                        </a>
                        <a href="#" class="history__years-link" data-bg-layer="blue">
                            1997-98
                        </a>
                        <a href="#" class="history__years-link">
                            2013-14
                        </a>
                        <a href="#" class="history__years-link">
                            2015
                        </a>




                    </div>

                </div>
            </div>
            <div class="history__right-col">
                <div class="history__items">
                    <div class="history__item">
                        <div class="history__item-content">
                            <div class="history__item-left-col">
                                <div class="history__item-year">
                                    <span class="blue-text">
                                        19
                                    </span>
                                    <span class="blue-contour-text">
                                        90
                                    </span>
                                </div>
                            </div>
                            <div class="history__item-right-col">
                                <div class="history__item-text">
                                    <em>Руководство МП «СУ-2» определило стратегию развития и сосредоточилось
                                        на строительстве</em> межпромысловых нефте
                                    и газопроводов диаметром 100-300 мм.
                                    В результате компания заняла свободную
                                    на тот момент нишу на рынке.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history__item">
                        <div class="history__item-content">
                            <div class="history__item-left-col">
                                <div class="history__item-year">
                                    <span class="white-contour-text">
                                        19
                                    </span>
                                    <span class="white-text">
                                        91
                                    </span>
                                </div>
                            </div>
                            <div class="history__item-right-col">
                                <div class="history__item-text history__item-text--white">
                                    <em>МП «СУ-2» заключило первый серьезный договор</em> с объединением
                                    «Когалымнефтегаз»
                                    на строительство системы межпромысловых трубопроводов при обустройстве
                                    Тевлино-Русскинского месторождения
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history__item">
                        <div class="history__item-content">
                            <div class="history__item-left-col">
                                <div class="history__item-year">

                                    <span class="white-text">
                                        19
                                    </span>
                                    <span class="white-contour-text">
                                        95
                                    </span>
                                </div>
                            </div>
                            <div class="history__item-right-col">
                                <div class="history__item-text history__item-text--white">
                                    <em>МП «СУ-2» было реорганизовано в ООО «СМУ-4».</em> Определился основной район
                                    работ и круг постоянных партнеров: «Когалымнефтегаз», «Лангепаснефтегаз», «РИТЭК».
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history__item">
                        <div class="history__item-content">
                            <div class="history__item-left-col">
                                <div class="history__item-year">
                                    <span class="white-contour-text">
                                        19
                                    </span>
                                    <span class="white-text">
                                        97
                                    </span>
                                    <span class="divider divider--white">

                                    </span>
                                    <span class="next-year next-year--white">
                                        98
                                    </span>
                                </div>
                            </div>
                            <div class="history__item-right-col">
                                <div class="history__item-text history__item-text--white">
                                    <em>МП «СУ-2» было реорганизовано в ООО «СМУ-4».</em> Определился основной район
                                    работ и круг постоянных партнеров: «Когалымнефтегаз», «Лангепаснефтегаз», «РИТЭК».
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history__item">
                        <div class="history__item-content">
                            <div class="history__item-left-col">
                                <div class="history__item-year">
                                    <span class="blue-text">
                                        20
                                    </span>
                                    <span class="blue-contour-text">
                                        13
                                    </span>
                                    <span class="divider">

                                    </span>
                                    <span class="next-year">
                                        14
                                    </span>
                                </div>
                            </div>
                            <div class="history__item-right-col">
                                <div class="history__item-text">
                                    <em>Новое направление работы с иностранным Заказчиком</em> - компанией ТOTAL.
                                    Бурение
                                    лидерных скважин и забивка свай под будующий нефте-перерабатывающий завод в районе
                                    Заполярья в условиях вечной мерзлоты.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="history__item">
                        <div class="history__item-content">
                            <div class="history__item-left-col">
                                <div class="history__item-year">
                                    <span class="blue-contour-text">
                                        20
                                    </span>
                                    <span class="blue-text">
                                        15
                                    </span>
                                </div>
                            </div>
                            <div class="history__item-right-col">
                                <div class="history__item-text">
                                    <em>Компания активно привлекается
                                        к выполнению</em> работ по капитальному ремонту линей­ной части
                                    магистральных газопроводов ООО «Газпром ТрансГазЮгорск»
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="next-page">

    <div class="container">
        <a href="#" class="next-page__panel">
            <div class="next-page__bg">
                <img data-src="img/next-page.jpg" alt="" class="next-page__bg-image ls-is-cached lazyloaded"
                    src="img/next-page.jpg">
            </div>
            <div class="next-page__panel-text">
                Руководство
            </div>
            <div class="next-page__panel-arrow">
                <svg width="24" height="24" aria-hidden="true" class="icon-next-arrow">
                    <use xlink:href="#next-arrow"></use>
                </svg>
            </div>
        </a>
    </div>
</section>

{{/content}}
{{/extend}}