{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro">
    <div class="page-intro__bg">
        <img data-src="img/licenses-bg.jpg" alt="" class="page-intro__bg-image lazyload">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link">
                                О компании
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Лицензии и сертификаты
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            Лицензии и сертификаты
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="licenses">
    <div class="container">
        <div class="licenses__content">
            <ul class="licenses__list">
                <li class="licenses__list-item">
                    <div class="licenses__card">
                        <div class="licenses__card-image-container">
                            <a href="img/licenses-card-2.jpg" class="licenses__card-image-link" data-fancybox="doc1">
                                <img data-src="img/licenses-card-2.jpg" alt="" class="licenses__card-image lazyload">
                            </a>
                            <a href="img/licenses-card-1.jpg" class="licenses__card-image-link" data-fancybox="doc1">
                                <img data-src="img/licenses-card-1.jpg" alt="" class="licenses__card-image lazyload">
                            </a>

                       
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            ISO 9001 : 2015
                        </div>
                    </div>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-2.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            BS OHSAS 18001 : 2007
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-1.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            ISO 9001 : 2015
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-2.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            BS OHSAS 18001 : 2007
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-1.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            ISO 9001 : 2015
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-2.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            BS OHSAS 18001 : 2007
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-1.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            ISO 9001 : 2015
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-2.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            BS OHSAS 18001 : 2007
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-1.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            ISO 9001 : 2015
                        </div>
                    </a>
                </li>
                <li class="licenses__list-item">
                    <a href="#license-modal" class="licenses__card js-modal-open">
                        <div class="licenses__card-image-container">
                            <img data-src="img/licenses-card-2.jpg" alt="" class="licenses__card-image lazyload">
                        </div>
                        <h4 class="licenses__card-title">
                            Сертификат системы менеджмента
                            в соответствии с
                        </h4>
                        <div class="licenses__card-standard">
                            BS OHSAS 18001 : 2007
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="next-page">

    <div class="container">
        <a href="#" class="next-page__panel">
            <div class="next-page__bg">
                <img data-src="img/next-page.jpg" alt="" class="next-page__bg-image ls-is-cached lazyloaded"
                    src="img/next-page.jpg">
            </div>
            <div class="next-page__panel-text">
                Отзывы Заказичиков
            </div>
            <div class="next-page__panel-arrow">
                <svg width="24" height="24" aria-hidden="true" class="icon-next-arrow">
                    <use xlink:href="#next-arrow"></use>
                </svg>
            </div>
        </a>
    </div>
</section>

{{/content}}
{{/extend}}