{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro">

    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Реализация
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Строительная техника
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            CATERPILLAR - D5H LGP
                        </h1>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="lots-detail">
    <div class="container">
        <div class="lots-detail__layout">
            <div class="lots-detail__main">
                <div class="lots-detail__gallery">
                    <div class="lots-detail__gallery-slider js-lots-detail-gallery-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="lots-detail__gallery-card">
                                        <img data-src="img/lots-detail.jpg" alt=""
                                            class="lots-detail__gallery-card-image lazyload">
                                        <div class="lots-detail__gallery-card-description">
                                            Бульдозер в Карелии на объекте
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="lots-detail__gallery-card">
                                        <img data-src="img/lots-detail-2.jpg" alt=""
                                            class="lots-detail__gallery-card-image lazyload">
                                        <div class="lots-detail__gallery-card-description">
                                            Бульдозер в Башкирии на объекте
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lots-detail__gallery-slider-controls">
                            <div class="slider-fraction-pagination lots-detail__slider-pagination">

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--prev">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                                        <use xlink:href="#slider-arrow-left" />
                                    </svg>
                                    <span class="slider-arrows__btn-progress">
                                        <svg width="200" height="200" viewBox="0 0 200 200"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                                stroke-opacity="1" stroke-width="12" stroke-linecap="round">
                                            </circle>
                                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                                stroke-width="12" stroke-dasharray="500" stroke-linecap="round">
                                            </circle>
                                        </svg>
                                    </span>

                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--next">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                                        <use xlink:href="#slider-arrow-right" />
                                    </svg>
                                    <span class="slider-arrows__btn-progress">
                                        <svg width="200" height="200" viewBox="0 0 200 200"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                                stroke-opacity="1" stroke-width="12" stroke-linecap="round">
                                            </circle>
                                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                                stroke-width="12" stroke-dasharray="500" stroke-linecap="round">
                                            </circle>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lots-detail__description">
                    <div class="lots-detail__description-left-col">
                        <h2 class="lots-detail__description-heading">
                            Описание
                        </h2>
                    </div>
                    <div class="lots-detail__description-right-col">
                        <div class="lots-detail__description-content">
                            <p>
                                Бульдозер D5H LGP от компании Caterpillar оснащен надёжным двигателем 3304 diesel
                                мощностью 102,2 кВт и вместительным отвалом объёмом 2,99 кубических метра. Отличное
                                сочетание габаритов и ходовых характеристик делают его быстрым и манёвренным.
                            </p>
                            <p>
                                Машина удобна в управлении и эксплуатации, а надёжность узлов и агрегатов гарантирована
                                многочисленными инженерами испытаниями и самим именем компании Caterpillar.
                            </p>
                            <p>
                                Бульдозеры оснащены большим металлическим отвалом, который установлен в передней части и
                                используется для перемещения земли и камней. В то же самое время, большой вес машины
                                позволяет уменьшать объем, который занимает почва или камни.
                            </p>
                            <p>
                                Наиболее известными производителями бульдозеров являются компании Hanomag, CAT, Liebherr
                                и Komatsu. Компания BAS Machinery предлагает большой выбор различных типов и марок
                                бульдозеров в наличии на собственном складе.
                            </p>
                            <p>
                                Машина удобна в управлении и эксплуатации, а надёжность узлов и агрегатов гарантирована
                                многочисленными инженерами испытаниями и самим именем компании Caterpillar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lots-detail__sidebar">
                <div class="lots-detail__params">
                    <div class="lots-detail__params-content">
                        <div class="lots-detail__features">
                            <ul class="lots-detail__features-list">
                                <li class="lots-detail__features-list-item">
                                    <div class="lots-detail__features-card">
                                        <div class="lots-detail__features-card-key">
                                            Расположение:
                                        </div>
                                        <div class="lots-detail__features-card-value">
                                            Москва
                                        </div>
                                    </div>
                                </li>
                                <li class="lots-detail__features-list-item">
                                    <div class="lots-detail__features-card">
                                        <div class="lots-detail__features-card-key">
                                            Состояние:
                                        </div>
                                        <div class="lots-detail__features-card-value">
                                            Б/у <span class="lots-detail__rating">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-star icon-star--filled">
                                                    <use xlink:href="#star" />
                                                </svg>
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-star icon-star--filled">
                                                    <use xlink:href="#star" />
                                                </svg>
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-star icon-star--filled">
                                                    <use xlink:href="#star" />
                                                </svg>
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-star icon-star--filled">
                                                    <use xlink:href="#star" />
                                                </svg>
                                                <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                                    <use xlink:href="#star" />
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="lots-detail__features-list-item">
                                    <div class="lots-detail__features-card">
                                        <div class="lots-detail__features-card-key">
                                            Год выпуска:
                                        </div>
                                        <div class="lots-detail__features-card-value">
                                            1980
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="lots-detail__price">
                            9 400 000 ₽
                        </div>
                    </div>
                    <a href="#buy-modal" class="btn lots-detail__apply-link js-modal-open">
                        <span class="btn__inner-content">
                            оставить заявку
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{/content}}
{{/extend}}