{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro">
    <div class="page-intro__bg">
        <img data-src="img/lots-bg.jpg" alt="" class="page-intro__bg-image lazyload">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Реализация
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            Реализация
                        </h1>
                        <div class="page-intro__text">
                            <p>
                                Предлагаем технику ведущих мировых марок. Выберите наиболее подходящую вашим
                                потребностям
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{> lots }}
{{/content}}
{{/extend}}