{{#extend "layout"}}
{{#content "main"}}

<section class="page-intro">
    <div class="page-intro__bg">
        <img data-src="img/management-bg.jpg" alt="" class="page-intro__bg-image lazyload">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                О компании
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            Руководство
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> management }}


<section class="next-page">

    <div class="container">
        <a href="#" class="next-page__panel">
            <div class="next-page__bg">
                <img data-src="img/next-page.jpg" alt="" class="next-page__bg-image lazyload">
            </div>
            <div class="next-page__panel-text">
                Система менеджмента
            </div>
            <div class="next-page__panel-arrow">
                <svg width="24" height="24" aria-hidden="true" class="icon-next-arrow">
                    <use xlink:href="#next-arrow" />
                </svg>
            </div>
        </a>
    </div>
</section>

{{/content}}
{{/extend}}