{{#extend "layout"}}
{{#content "main"}}


<section class="page-intro page-intro--press">

    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>

                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Пресс-центр
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="press-populars">
    <div class="container">
        <div class="press-populars__slider js-press-populars-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="press-populars__slider-card">
                            <div class="press-populars__slider-card-bg">
                                <img data-src="img/press-populars.jpg" alt=""
                                    class="press-populars__slider-card-bg-image lazyload">
                            </div>
                            <div class="press-populars__slider-card-date">
                                31 октября 2019
                            </div>
                            <h4 class="press-populars__slider-card-title">
                                СМУ-4 выиграла торги в крупнейшем тендере АО «Лукойл: Западная Сибирь»
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press-populars__slider-card">
                            <div class="press-populars__slider-card-bg">
                                <img data-src="img/press-populars.jpg" alt=""
                                    class="press-populars__slider-card-bg-image lazyload">
                            </div>
                            <div class="press-populars__slider-card-date">
                                31 октября 2019
                            </div>
                            <h4 class="press-populars__slider-card-title">
                                СМУ-4 выиграла торги в крупнейшем тендере АО «Лукойл: Западная Сибирь»
                            </h4>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="press-populars__slider-card">
                            <div class="press-populars__slider-card-bg">
                                <img data-src="img/press-populars.jpg" alt=""
                                    class="press-populars__slider-card-bg-image lazyload">
                            </div>
                            <div class="press-populars__slider-card-date">
                                31 октября 2019
                            </div>
                            <h4 class="press-populars__slider-card-title">
                                СМУ-4 выиграла торги в крупнейшем тендере АО «Лукойл: Западная Сибирь»
                            </h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="slider-arrows slider-arrows--dark press-populars__slider-arrows">
                <button class="slider-arrows__btn slider-arrows__btn--prev">
                    <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                        <use xlink:href="#slider-arrow-left" />
                    </svg>
                    <span class="slider-arrows__btn-progress">
                        <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                stroke-width="12" stroke-linecap="round">
                            </circle>
                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                stroke-dasharray="500" stroke-linecap="round">
                            </circle>
                        </svg>
                    </span>

                </button>
                <button class="slider-arrows__btn slider-arrows__btn--next">
                    <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                        <use xlink:href="#slider-arrow-right" />
                    </svg>
                    <span class="slider-arrows__btn-progress">
                        <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                stroke-width="12" stroke-linecap="round">
                            </circle>
                            <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                stroke-dasharray="500" stroke-linecap="round">
                            </circle>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="press-archive">
    <div class="container">
        <ul class="press-archive__list js-news-list">
            <li class="press-archive__list-item">
                <a href="#" class="news__slider-card">
                    <div class="news__slider-card-bg">
                        <img data-src="img/services/1.jpg" alt="" class="news__slider-card-bg-image lazyload">
                    </div>
                    <div class="news__slider-card-date">
                        12 декабря 2019
                    </div>
                    <h4 class="news__slider-card-title">
                        Компания прошла проверку
                        на соответствие требованиям ПАО «Газпром»
                    </h4>
                </a>
            </li>
            <li class="press-archive__list-item">
                <a href="#" class="news__slider-card">
                    <div class="news__slider-card-bg">
                        <img data-src="img/services/2.jpg" alt="" class="news__slider-card-bg-image lazyload">
                    </div>
                    <div class="news__slider-card-date">
                        8 ноября 2019
                    </div>
                    <h4 class="news__slider-card-title">
                        Закончился первый этап реконструкиции «Силы Сибири»
                    </h4>
                </a>
            </li>
            <li class="press-archive__list-item">
                <a href="#" class="news__slider-card">
                    <div class="news__slider-card-bg">
                        <img data-src="img/services/3.jpg" alt="" class="news__slider-card-bg-image lazyload">
                    </div>
                    <div class="news__slider-card-date">
                        31 октября 2019
                    </div>
                    <h4 class="news__slider-card-title">
                        СМУ-4 выиграла торги в крупнейшем тендере АО «Лукойл: Западная Сибирь» выиграла торги...
                    </h4>
                </a>
            </li>
            <li class="press-archive__list-item">
                <a href="#" class="news__slider-card">
                    <div class="news__slider-card-bg">
                        <img data-src="img/services/1.jpg" alt="" class="news__slider-card-bg-image lazyload">
                    </div>
                    <div class="news__slider-card-date">
                        12 декабря 2019
                    </div>
                    <h4 class="news__slider-card-title">
                        Компания прошла проверку
                        на соответствие требованиям ПАО «Газпром»
                    </h4>
                </a>
            </li>
            <li class="press-archive__list-item">
                <a href="#" class="news__slider-card">
                    <div class="news__slider-card-bg">
                        <img data-src="img/services/2.jpg" alt="" class="news__slider-card-bg-image lazyload">
                    </div>
                    <div class="news__slider-card-date">
                        8 ноября 2019
                    </div>
                    <h4 class="news__slider-card-title">
                        Закончился первый этап реконструкиции «Силы Сибири»
                    </h4>
                </a>
            </li>
            <li class="press-archive__list-item">
                <a href="#" class="news__slider-card">
                    <div class="news__slider-card-bg">
                        <img data-src="img/services/3.jpg" alt="" class="news__slider-card-bg-image lazyload">
                    </div>
                    <div class="news__slider-card-date">
                        31 октября 2019
                    </div>
                    <h4 class="news__slider-card-title">
                        СМУ-4 выиграла торги в крупнейшем тендере АО «Лукойл: Западная Сибирь» выиграла торги...
                    </h4>
                </a>
            </li>

        </ul>
        <div class="scroller-status">
            <div class="infinite-scroll-request">
                <div class="press-archive__loader">
                    <svg width="30" height="30" aria-hidden="true" class="icon-loader">
                        <use xlink:href="#loader" />
                    </svg>
                </div>

            </div>
        </div>
        <div class="pagination press-archive__pagination js-pagination-slider">
            
            <div class="press-archive__pagination-prev-next">
                <a href="#" class="press-archive__pagination-prev-link">
                    Предыдущая страница
                </a>
              
            </div>
            <div class="pagination__slider">
                <div class="pagination__slider-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link active">
                                    1
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    2
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    3
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    4
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    5
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    6
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    7
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    8
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrows slider-arrows--dark">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>

                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}