{{#extend "layout"}}
{{#content "main"}}


<section class="page-intro page-intro--high">
    <div class="page-intro__bg">
        <img data-src="img/projects-bg.jpg" alt="" class="page-intro__bg-image lazyload">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Проекты
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            Реализованные<br> проекты
                        </h1>
                        <div class="page-intro__text">
                            <p>
                                Осуществляем работы на крупнейших месторождениях для ведущих недропользователей
                            </p>
                        </div>
                    </div>
                    <div class="page-intro__right-col">
                        <ul class="page-intro__features-list page-intro__features-list--compact">
                            <li class="page-intro__features-list-item page-intro__features-list-item--reversed">
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-small-text">
                                            в которых мы ведем работы
                                        </div>
                                    </div>
                                </div>
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-large-text">
                                            11 РЕГИОНОВ
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="page-intro__features-list-item page-intro__features-list-item--reversed">
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-small-text">
                                            построенных трубопроводов
                                        </div>
                                    </div>
                                </div>
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-large-text">
                                            7500 КМ
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="page-intro__features-list-item page-intro__features-list-item--reversed">
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-small-text">
                                            реализовано с 1990 г
                                        </div>
                                    </div>
                                </div>
                                <div class="intro__services-animation-wrapper">
                                    <div class="intro__services-animation-content">
                                        <div class="page-intro__features-large-text">
                                            24 ОБЪЕКТА
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects">
    <nav class="page-navigation">
        <div class="container">
            <div class="page-navigation__links js-projects-navigation">
                <a href="#" class="page-navigation__link active" data-category="montage, construction, reconstruction">
                    все проекты
                </a>
                <a href="#" class="page-navigation__link" data-category="construction">
                    Капитальное строительство
                </a>
                <a href="#" class="page-navigation__link" data-category="montage">
                    Монтаж оборудования
                </a>
                <a href="#" class="page-navigation__link" data-category="reconstruction">
                    Строительство и реконструкция
                </a>
            </div>
        </div>

    </nav>
    <div class="container">

        <ul class="projects__list">
            <li class="projects__list-item" data-category="montage">
                <div class="projects__card">
                    <div class="projects__card-left-col">
                        <div class="projects__card-slider js-projects-card-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="projects__card-slider-pagination">

                            </div>
                        </div>
                    </div>
                    <div class="projects__card-right-col">
                        <a href="#" class="projects__card-content">
                            <h3 class="projects__card-heading">
                                Строительство объектов Тэдинского и Пашшорского нефтяных месторожденийCATERPILLAR - D5H
                                LGP
                            </h3>
                            <div class="projects__card-info">
                                <ul class="projects__card-info-list">
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Заказчик
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                ОАО «Находканефтегаз»
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Выполненные работы
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                Монтаж нефтепровода, Бурение с поверхности, Горные работы, ГИС
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Годы реализации
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                2003 - 2005
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="projects__list-item" data-category="construction">
                <div class="projects__card">
                    <div class="projects__card-left-col">
                        <div class="projects__card-slider js-projects-card-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="projects__card-slider-pagination">

                            </div>
                        </div>
                    </div>
                    <div class="projects__card-right-col">
                        <a href="#" class="projects__card-content">
                            <h3 class="projects__card-heading">
                                Строительство объектов Тэдинского и Пашшорского нефтяных месторожденийCATERPILLAR - D5H
                                LGP
                            </h3>
                            <div class="projects__card-info">
                                <ul class="projects__card-info-list">
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Заказчик
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                ОАО «Находканефтегаз»
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Выполненные работы
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                Монтаж нефтепровода, Бурение с поверхности, Горные работы, ГИС
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Годы реализации
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                2003 - 2005
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="projects__list-item" data-category="reconstruction">
                <div class="projects__card">
                    <div class="projects__card-left-col">
                        <div class="projects__card-slider js-projects-card-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="projects__card-slider-pagination">

                            </div>
                        </div>
                    </div>
                    <div class="projects__card-right-col">
                        <a href="#" class="projects__card-content">
                            <h3 class="projects__card-heading">
                                Строительство объектов Тэдинского и Пашшорского нефтяных месторожденийCATERPILLAR - D5H
                                LGP
                            </h3>
                            <div class="projects__card-info">
                                <ul class="projects__card-info-list">
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Заказчик
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                ОАО «Находканефтегаз»
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Выполненные работы
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                Монтаж нефтепровода, Бурение с поверхности, Горные работы, ГИС
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Годы реализации
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                2003 - 2005
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="projects__list-item" data-category="construction">
                <div class="projects__card">
                    <div class="projects__card-left-col">
                        <div class="projects__card-slider js-projects-card-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/1.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img data-src="img/lots/2.jpg" alt=""
                                                class="projects__card-slider-card-image lazyload">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="projects__card-slider-pagination">

                            </div>
                        </div>
                    </div>
                    <div class="projects__card-right-col">
                        <a href="#" class="projects__card-content">
                            <h3 class="projects__card-heading">
                                Строительство объектов Тэдинского и Пашшорского нефтяных месторожденийCATERPILLAR - D5H
                                LGP
                            </h3>
                            <div class="projects__card-info">
                                <ul class="projects__card-info-list">
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Заказчик
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                ОАО «Находканефтегаз»
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Выполненные работы
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                Монтаж нефтепровода, Бурение с поверхности, Горные работы, ГИС
                                            </div>
                                        </div>
                                    </li>
                                    <li class="projects__card-info-list-item">
                                        <div class="projects__card-info-card">
                                            <div class="projects__card-info-card-key">
                                                Годы реализации
                                            </div>
                                            <div class="projects__card-info-card-value">
                                                2003 - 2005
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="pagination projects__pagination js-pagination-slider">
            <div class="pagination__slider">
                <div class="pagination__slider-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link active">
                                    1
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    2
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    3
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    4
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    5
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    6
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    7
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="pagination__slider-link">
                                    8
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrows slider-arrows--dark">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>

                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="12" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                        <span class="slider-arrows__btn-progress">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-opacity="1"
                                    stroke-width="12" stroke-linecap="round">
                                </circle>
                                <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="12"
                                    stroke-dasharray="500" stroke-linecap="round">
                                </circle>
                            </svg>
                        </span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}