{{#extend "layout"}}
{{#content "main"}}


<section class="page-intro page-intro--no-min-height">

    <div class="container">
        <div class="inner-container">
            <div class="page-intro__content">
                <div class="page-intro__row">
                    <div class="page-intro__left-col">
                        <div class="page-intro__breadcrumbs">
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Главная
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link">
                                Пресс-центр
                            </a>
                            <span class="page-intro__breadcrumbs-divider">

                            </span>
                            <a href="#" class="page-intro__breadcrumbs-link active">
                                Безопасность, охрана труда и экология
                            </a>
                        </div>
                        <h1 class="page-intro__heading">
                            Безопасность, охрана труда и экология
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="press-detail">
    <div class="container">
        <div class="press-detail__row">
            <div class="press-detail__left-col">
                <div class="press-detail__date">
                    Мы заботимся о Вас
                    и Вашей безопасности!
                </div>
                <div class="press-detail__share">

                    <div class="press-detail__share-links">
                        <a href="#" class="press-detail__share-link">
                            <svg width="18" height="18" aria-hidden="true" class="icon-instagram">
                                <use xlink:href="#instagram" />
                            </svg>
                        </a>
                        <a href="#" class="press-detail__share-link">
                            <svg width="18" height="18" aria-hidden="true" class="icon-fb">
                                <use xlink:href="#fb" />
                            </svg>
                        </a>
                        <a href="#" class="press-detail__share-link">
                            <svg width="18" height="18" aria-hidden="true" class="icon-telegram">
                                <use xlink:href="#telegram" />
                            </svg>
                        </a>
                        <a href="#" class="press-detail__share-link">
                            <svg width="18" height="18" aria-hidden="true" class="icon-whats-app">
                                <use xlink:href="#whats-app" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="press-detail__right-col">
                <div class="press-detail__content">
                    <p>
                        Общество с ограниченной ответственностью «СМУ-4» (далее Общество) осознает свою ответственность
                        перед обществом по защите здоровья персонала и населения, сохранению благоприятной окружающей
                        среды, рациональному использованию природных ресурсов.
                    </p>
                    <p>
                        Приоритетными задачами Общества в области промышленной безопасности, охраны труда
                        и окружающей среды является обеспечение безопасных условий труда, защита здоровья персонала
                        Общества и населения, проживающего в районах деятельности производственных объектов Общества, а
                        также сохранение благоприятной окружающей природной среды.
                    </p>
                    <p>
                        Контроль за выполнением всех направлений Политики в вышеуказанной деятельности возложен на
                        службу охраны труда, охраны окружающей среды и менеджмента качества, которая организует свою
                        работу в соответствии с <a href="#">«Системой менеджмента охраны здоровья и обеспечения
                            безопасности труда
                            BS OHSAS 18001 : 2007»</a> и <a href="#">«Системой экологического менеджмента ISO 14001:
                            2009</a>
                    </p>
                    <p>
                        <b>
                            Общество считает необходимым следовать следующим принципам в области промышленной
                            безопасности, охраны труда и окружающей среды при достижении поставленных целей:
                        </b>
                    </p>
                    <ul>
                        <li>
                            Постоянное улучшение состояния промышленной безопасности, охраны труда, окружающей среды;
                        </li>
                        <li>
                            Повышение промышленной и экологической безопасности объектов Общества, снижение негативного
                            воздействия на окружающую среду за счет повышения надежности технологического оборудования,
                            обеспечения его безопасной и безаварийной работы,
                            а также за счет внедрения новых прогрессивных технологий, оборудования, материалов
                            и повышения уровня автоматизации управления технологическими процессами;
                        </li>
                    </ul>
                    <div class="grey-bg">
                        <p>
                            <em>Повышение эффективности производственного контроля за соблюдением требований
                                промышленной
                                безопасности и экологического мониторинга на объектах</em> Общества
                            на основе внедрения современных информационных технологий, использования современного
                            аналитического оборудования, а также методов технической диагностики;
                            для этого <em>Общество приняло на себя следующие обязательства:</em>
                        </p>
                        <ul>
                            <li>
                                Осуществлять свою деятельность в области промышленной безопасности, охраны труда и
                                окружающей среды в соответствии с требованиями международных стандартов;
                            </li>
                            <li>
                                Создавать эффективные процедуры в области промышленной безопасности, охраны труда и
                                охраны окружающей среды, обеспечивающие постоянное выявление и решение наиболее важных
                                задач промышленной и экологической безопасности;
                            </li>
                            <li>
                                Осуществлять весь доступный и практически реализуемый комплекс мер по предупреждению
                                аварий и смягчению их последствий: обеспечивать соблюдение требований международного,
                                федерального, регионального и местного законодательства, международных соглашений,
                                регламентирующих деятельность в области промышленной безопасности, охраны труда
                                и охраны окружающей среды;
                            </li>
                            <li>
                                Осуществлять оценку промышленных и экологических рисков, разработку и реализацию мер по
                                их снижению, компенсации обусловленных ими потерь;
                            </li>
                            <li>
                                Требовать от субподрядчиков, выполняющих работы в интересах Общества, применения тех же
                                стандартов и норм в области промышленной и экологической безопасности, охраны труда
                                и здоровья, которые приняты в Обществе;
                            </li>
                            <li>
                                Привлекать весь персонал Общества к активному участию в работах по промышленной
                                и экологической безопасности, охране труда и здоровья, по ресурсосберегающей
                                деятельности. В этих целях осуществлять соответствующие меры стимулирования
                                и повышения квалификации сотрудников Общества и персонала на его производственных
                                объектах;
                            </li>
                            <li>
                                Осуществлять периодическое информирование всех заинтересованных сторон (общественность,
                                органы исполнительной власти и др.) о деятельности Общества в области промышленной
                                безопасности, охраны труда и охраны окружающей среды.
                            </li>
                        </ul>

                    </div>
                    <p>
                        Повсеместное использование металлических труб с внутренней изоляцией позволяет ООО «СМУ-4»
                        значительно увеличить сроки эксплуатации промысловых трубопроводов и повышает экологическую
                        безопасность районов добычи нефти, а применение стеклопластиковых труб, кроме того, позволяет
                        снизить затраты на строительство и эксплуатацию трубопроводов.
                    </p>
                    <p>
                        С 2002 года ООО «СМУ-4» использует при капитальном ремонте промысловых трубопроводов внутреннюю
                        футеровку полиэтиленовой трубой. Значительно увеличивается срок эксплуатации трубопроводов
                        подверженных ручейковой коррозии.
                    </p>

                    <div class="important-info">
                        ООО «СМУ-4» совместно со специализированными компаниями применяет технологию
                        наклонно-направленного бурения (ННБ). Ее основное преимущество перед традиционным методом
                        состоит в том, что при ксплуатации не затрагивается экосистема водоема и значительно снижается
                        риск аварии на подводном переходе.
                    </div>
                    <p>
                        Данную технологию ООО «СМУ-4» применяло при строительстве подводных переходов через реки Пурпе
                        (газопровод ДНС «Западно-Пурпейская» — точка врезки «Западный купол УППГ», протяженность участка
                        ННБ 800 м, Д=325 мм) и Часелька (напорный нефтегазопроводКынского месторождения, протяженность
                        участка ННБ =450м, Д=530мм).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="next-page">

    <div class="container">
        <a href="#" class="next-page__panel">
            <div class="next-page__bg">
                <img data-src="img/next-page.jpg" alt="" class="next-page__bg-image lazyload">
            </div>
            <div class="next-page__panel-text">
                Карьера
            </div>
            <div class="next-page__panel-arrow">
                <svg width="24" height="24" aria-hidden="true" class="icon-next-arrow">
                    <use xlink:href="#next-arrow" />
                </svg>
            </div>
        </a>
    </div>
</section>

{{/content}}
{{/extend}}