.section-heading {
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 400;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
}

.contour-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-color: white;
}


@mixin textWithOrangeBar() {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: var(--din);
    &::before {
        content: '';
        width: 3rem;
        height: 3px;
        background-color: var(--primary-color);
        flex-shrink: 0;
        margin-bottom: 2rem;
        display: block;
    }
}