.section-heading {
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 400;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
}

.contour-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-color: white;
}
